<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="action()">
        <ion-icon
          class=""
          name="chevron-back-outline"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-img (click)="refferalclose()" class="nav-logo" src="assets/icon/Sarvmlogo.png"></ion-img>
      <ion-buttons slot="end">
        <ion-button (click)="openMyRewardsModal()">
          
        <ion-icon slot="start" class="" name="gift-outline" ></ion-icon> <ion-text> {{"MyRewards" | language: "My Rewards"}}</ion-text> 
        </ion-button>
      </ion-buttons>
        <!-- <ion-title slot="end" (click)="openMyRewardsModal()"></ion-title> -->
  </ion-toolbar>
</ion-header>

<!-- <ion-content > -->
  <div class="container">
    <div class="header">
      <!-- <div class="navbr">
        <ion-icon
          (click)="action()"
          class="nav-back"
          name="chevron-back-outline"
        ></ion-icon>
        <ion-img
          class="nav-logo"
          src="assets/icon/Sarvmlogo.png"
        ></ion-img>
        <ion-icon
          class="nav-gift"
          (click)="openMyRewardsModal()"
          name="gift-outline"
        ></ion-icon>
        <ion-text (click)="openMyRewardsModal()">{{
          "MyRewards" | language: "My Rewards"
        }}</ion-text>
      </div> -->

      <div class="gift-img">
        <ion-img src="assets/InvitePageImg/Reward.png"></ion-img>
      </div>

      <p>
        {{
          "Invite People and earn Cash Rewards"
            | language: "Invite people and earn cash rewards"
        }}
      </p>
    </div>

    <!-- <p>Invite people from your network and earn cash rewards</p> -->
  

  <div class="box">
    <p id="txt">
      {{ "Getcashrewardsupto" | language: "Get cash rewards upto" }}
    </p>
    <p id="rupee">₹ {{ maxReward | language: maxReward }}</p>

    <ion-button (click)="openInviteModal()" class="btn" shape="round">{{
      "Invite" | language: "INVITE"
    }}</ion-button>
    <div class="rfl-stat">
      <div>
        <p>{{ "Referralstatus" | language: "Referral Status" }}</p>
      </div>
      <!-- <div>
              <p>{{ "TotalReferal" | language: "Total Referal" }}</p>
          </div> -->
    </div>
    <div class="card">
      <div class="item">
        <!-- <p>{{ "Referralstatus" | language: "Referral Status" }}</p> -->
        <ion-progress-bar
          value="{{ referred }}"
          color="success"
        ></ion-progress-bar>
      </div>

      <!-- <div class="item">
          <p>Total Referrals</p>
          <ion-progress-bar
            value="{{ acknowledged }}"
            color="medium"
          ></ion-progress-bar>
          <br />
          <p>{{ "Signup" | language: "Sign Up" }}</p>
          <ion-progress-bar
            value="{{ signedUp }}"
            color="primary"
          ></ion-progress-bar>
          <br />
          <p>{{ "Order" | language: "Order" }}</p>
          <ion-progress-bar
            value="{{ order }}"
            color="secondary"
          ></ion-progress-bar>
          <br />
          <p>{{ "ProfileComplete" | language: "Profile Complete" }}</p>
          <ion-progress-bar
            value="{{ profileComplete }}"
            color="tertiary"
          ></ion-progress-bar>
        </div> -->
    </div>
  </div>
</div>
  <!-- <ion-footer>
    
  </ion-footer>
</ion-content> -->


