// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }
ion-content {
 
  --background: var(--ion-color-secondary) 16%;

}
.container {
  background-color: var(--ion-color-secondary);
  overflow: scroll;
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 align-items: center;
min-height: 100%;

 
}


ion-toolbar {
  --background: var(--ion-color-secondary) 16%;
 
  //height: 410px;
}
ion-text{
text-transform: capitalize;
font-weight: 600;
font-size: 14px;
line-height: 21px;
margin-left: 0px;
color: #000000;
}

.navbr {
  // background-color: var(--ion-color-warning-dark);
  --background: var(--ion-color-secondary) 16%;
  position: relative;
  display: flex;
  height: 58px;
  padding-top: 24px;
  width: 100%;
  align-items: center;

  ion-text {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    position: absolute;
    right: 16px;
  }
}
.nav-back {
  zoom: 2;
  margin-left: 4px;
}
.nav-gift {
  zoom: 1.5;
  position: absolute;
  right: 70px;
}
.nav-logo {
  height: 45px;
  width: 40px;
  margin-left: 10px;
}
.gift-img {
  ion-img {
    margin: 50px auto 20px auto;
    display: -webkit-box;
    width: 214.26px;
    height: 212.17px;
  }
}

p {
  margin: 20px 34px 20px 34px;
  width: calc(100% - 68px);
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.rfl-stat {
  top: 60px;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
}
.box {
  width: 100%;
  background-color: var(--ion-color-medium-contrast);
  text-align: -webkit-center;
  padding-bottom: 20px;
  border-radius: 45px 44px 0px 0px;

height: 100vh;
  #txt {
    padding-top: 10px;
    font-style: normal;
    font-weight: 500;
    color: var(--ion-color-dark-tint-shade);
    font-size: 16px;
    line-height: 24px;
    margin: 0;
  }

  #rupee {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    color: var(--ion-color-primary-tint);
    margin: 0;
  }

  ion-button {
    --background: var(--ion-color-primary-tint);
    --boder-radius: 4px;
    margin-top: 22px;
    margin-left: 16px;
    margin-right: 16px;
    width: -webkit-fill-available;
    height: 48px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
  }

  .card {
    margin-top: 20px;
    display: flex;
    margin-left: 16px;
    margin-right: 16px;
    justify-content: space-around;

    .item {
      width: calc((100% - 15px) / 2);
      text-align: center;

      p {
        margin: auto auto;
        width: 100%;
        margin-bottom: 20px;

        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 134.5%;
        color: var(--ion-color-dark-tint-shade);
        text-align: center;
      }
    }
  }
}
