.card {
    margin: 8px;
    border: 0px;

    .orderDetails {
        display: block;

        .orderId {
            color: var(--ion-color-primary);
            font-size: 1rem;
            font-weight: 600;
            margin-bottom: 4px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .price {

            // max-width: 60px;
            span {
                float: right;
                margin-bottom: 16px;
            }
        }

        .profilePic {
            --border-radius: 10px;
            position: relative;
            height: auto;
        }

        .callIcon {
            position: absolute;
            bottom: 5px;
            right: 5px;
        }

        .profileTxt {
            height: 25vw;
            width: 20vw;
            z-index: -1;
            background: var(--ion-color-medium-contrast);
            border-radius: 10px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 40px;
            color: #555555;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
        }

        .info {
            min-width: 37vw;
            height: 25vw;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            color: var(--ion-color-dark-tint);
            font-size: 1rem;
        }

        .name {
            color: var(--ion-color-dark-tint);
            font-size: 4vw;
            font-weight: 400;
            margin-left: 1vw;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }

        .stock {
            font-weight: 550;
            font-size: 0.8rem;
            color: var(--ion-color-dark-tint);
            white-space: nowrap;
        }

        .location {
            display: flex;
            flex-direction: row;

            ion-icon {
                font-size: 4.8vw;
                color: var(--ion-color-dark-tint);
            }
        }

        .pickup {
            display: flex;
            color: var(--ion-color-dark-tint);
            background: linear-gradient(90deg, rgba(16, 186, 178, 0.66) 0%, rgba(16, 186, 178, 0.09) 100%);
            border-radius: 2px 20px 20px 2px;
            width: 60%;
            padding: 0 16px 0 0;
            margin: 0;
            align-items: center;
            height: 20px;

            img {
                height: 14px;
                margin: 0 8px;
            }

            .status {
                margin: 0;
                text-transform: capitalize;
                font-size: 14px;
            }
        }

        .total {
            text-align: right;
            color: var(--ion-color-dark-tint);
            font-weight: 600;
            font-size: 18px;
            position: absolute;
            left: 20%;
        }

        .dispatch-user {
            align-self: center;
            position: relative;
            margin-left: auto;
            text-align: right;

            img {
                width: 30px;
                height: 30px;
            }

            .orderof {
                font-family: 'Poppins';
                font-style: normal;
                font-size: 10px;
                text-align: center;
                color: var(--ion-color-dark-tint);
            }
        }

        .calander-view {
            top: -8vw;
        }

        .btns {
            display: flex;
            justify-content: space-between;

        }

        .reject {
            width: 48%;
            height: 36px;
            --color: var(--ion-color-primary);
            --border-color: var(--ion-color-primary);
            --border-width: 1px;
            --border-style: solid;
            text-transform: none;
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;

            .end-icon {
                width: 16px;
                height: 14px;
                padding-left: 5px;
            }
        }

        .accept {
            width: 48%;
            height: 36px;
            --color: var(--ion-color-medium-contrast);
            --background: var(--ion-color-primary);
            text-transform: none;
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;

            .end-icon {
                width: 16px;
                height: 14px;
                padding-left: 5px;
            }
        }

        .not-allowed {
            cursor: not-allowed;
            pointer-events: all;
        }

        .accept-full {
            width: 100%;
            height: 36px;
            --color: var(--ion-color-medium-contrast);
            --background: var(--ion-color-primary);
            text-transform: none;

            &__pending {
                --background: gray;
            }
        }

        .end-icon {
            width: 16px;
            height: 14px;
            padding-left: 5px;
        }

        .hide {
            display: none;
        }

        .address {
            font-size: 0.9rem;
            display: -webkit-box;
            max-width: 40vw;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            margin: 0;
        }
    }
}