
ion-footer {
  bottom: 0px;
  position: absolute;
  width: -webkit-fill-available;

}

.content {
  background: #fff;
  border-radius: 0px;
  margin: 0px auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 40vh;
  width: 40vw;
 
p{
  margin: 20px 0px;
  color: #222222;
  font-size: 20px;
  font-weight: 600;
  
}
  
}

.contentDiv {
 padding: 20px 30px;

}

.footer-md::before {
  background-image: none;
}

.CrossIcon {
  height: 48px;
  width: 48px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  border-radius: 100%;
  background: #FBFBFB;
  color: #000000;
}
