// #map {
//     height: 200px;
// }

.add{
    height: 40vh !important;
  }
  .select{
    height: 80vh !important;
  }

#map .leaflet-control-container {
    display: none;
}

.gmnoprint{
    display: none;
  }
    
  capacitor-google-map {
    display: inline-block;
    width: 100%;
    height: 290px;
  }
  
