

<div class="container content">
    <div class="row"> <div class="col-12">

      <form [formGroup]="data" (ngSubmit)="onCreateCatalog(data.value)">

        <div style="text-align:center" class="form-group">
          <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
          <div><img [src]="url" class="rounded-circle" *ngIf="url"></div>
          <p>
            <input type="file" #fileInput id="image" name="image"  class="form-control" formControlName="image" (change)="onFileChanged($event)">
          </p>


                <small  *ngIf= "data.get('image').invalid && data.get('image').touched" style="color: red;">*This field is required</small>

        </div>

       <div class="row" class="form-group">
        <div class="col-25">
          <label for="fname">Catalog Name:</label>
        </div>
        <div class="col-75">
          <input type="text"  id="name" name="name"  class="form-control" formControlName="name" placeholder="Catalog name..">
          <div *ngIf= "data.get('name').invalid && data.get('name').touched">
            <small style="color: red;">*This field is required</small>
        </div>
        </div>
      </div>

           <!-- Region  -->
      <div class="row" class="form-group">
        <div class="col-25">
          <label for="fname">Region:</label>
        </div>
        <div class="col-75">
          <input type="text"  id="region" name="region"  class="form-control" formControlName="region" placeholder="Region">
          <div *ngIf= "data.get('region').invalid && data.get('region').touched">
            <small style="color: red;">*This field is required</small>
        </div>
        </div>
      </div>
         <!-- HSN  -->
         <div class="row" class="form-group">
          <div class="col-25">
            <label for="fname">HSN:</label>
          </div>
          <div class="col-75">
            <input type="text"  id="hsn" name="hsn"  class="form-control" formControlName="hsn" placeholder="hsn">
            <div *ngIf= "data.get('hsn').invalid && data.get('hsn').touched">
              <small style="color: red;">*This field is required</small>
          </div>
          </div>
        </div>
        <!-- Description -->
      <div class="row" class="form-group">
        <div class="col-25">
          <label for="subject">Description:</label>
        </div>
        <div class="col-75">
          <textarea id="description"  name="description"  class="form-control" formControlName="description"  placeholder="Write something.." style="height:200px"></textarea>
          <div *ngIf= "data.get('description').invalid && data.get('description').touched">
            <small style="color: red;">*This field is required</small>
        </div>
        </div>
      </div>
           <!-- Is Taxable..?  -->
      <div class="row" class="form-group">
        <div class="col-25">
          <label for="fname">Is Taxable:</label>
        </div>
        <div class="col-75">
          <input type="radio"  value="TAXABLE" formControlName="tax_status" checked>Yes
          <input type="radio"  value="NON_TAXABLE" formControlName="tax_status">No
        </div>
      </div>




      <div class="row" class="form-group">
        <button *ngIf="!toggleButton" class="submitbutton" type="submit">Submit</button>
        <button *ngIf="toggleButton" class="editButton" (click)="updateCatalogData(this.catalog_id)" type="button">Update</button>
      </div>

      </form>
    </div>
  </div></div>










