<ion-header>
    <ion-toolbar>
        
            <!-- <ion-buttons slot="start" (click)="onBack()"> -->
            <ion-buttons slot="start">
                <ion-back-button class="sm-back-btn" defaultHref="/selected-language"></ion-back-button>
            </ion-buttons>

            <!-- <ion-title>{{'selling' | language : 'Selling'}}</ion-title> -->
            <ion-title class="sm-title">{{'I own' | language : 'I own'}}</ion-title>
        
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <!-- <ion-row>
            <ion-col size="12" class="myshop">
                <p class="setxt"><b>I own</b></p>
            </ion-col>
        </ion-row> -->
        <ion-row>
            <ion-card (click)="selectType('fixed')">
                <div class="sm-row">
                    <img src="../../../../assets/images/shopp1.svg" alt="sophawker" class="hawker" />
                    <!-- <img src="../../../../assets/images/mobilehawker.svg" alt="sophawker" class="hawker" /> -->
                </div>
                <div class="sm-row"> 
                    <p class="setxt"><b>Fixed Retail Shop</b></p>
                 </div>
            </ion-card>
        </ion-row>
        <ion-row>
            <ion-card (click)="selectType('mobile')">
                <div class="sm-row">
                    <img src="../../../../assets/images/hawker2.svg" alt="sophawker" class="hawker" />
                    <!-- <img src="../../../../assets/images/hawker3.svg" alt="sophawker" class="hawker" /> -->
                </div>
                <div class="sm-row">
                    <p class="setxt"><b> Mobile Retail Shop</b></p>
                </div>
            </ion-card>
        </ion-row>
    </ion-grid>
</ion-content>
