<ng-container>
  <ion-row>
    <ion-col size="12" size-sm="6" size-md="4" size-lg="3" *ngFor="let order of orders;let ind = index">
      <div class="card" *ngIf="order?.delivery?.mode == 'PICKUP'">
        <div class="orderDetails">
          <p class="orderId" (click)="gotoOrderDetails(order)">{{'order' | language : 'Order #'}}: {{order.orderID | textTruncate : 11}}</p>
          <div class="profile">
            <ion-item lines="none">
              <ion-thumbnail>
                <img src="{{order.userDetails.image}}" alt="profilePic" class="profilePic" />
                <a href="tel:{{order?.userDetails?.phone}}"><img src="/assets/images/Group 7995.svg" alt="call-icon" class="callIcon" /></a>
              </ion-thumbnail>
              <ion-label>
                <div (click)="gotoOrderDetails(order)">
                  <p class="stock">+91 {{order.userDetails.phone}}</p>
                  <p class="name">{{order?.userDetails?.name}}</p>
                  <div class="location" >
                    <ion-icon name="location-outline"></ion-icon>
                    <p class="address" title="{{order?.delivery?.location?.address}}">{{order?.delivery?.location?.address}}</p>
                  </div>
                  <div class="pickup">
                    <img src="assets/images/hand.svg" alt="" srcset="" />
                    <p class="status">{{'pickUp' | language :'Pickup'}}</p>
                  </div>
                  <span class="amount">{{order.amount - (order.discount?order.discount:0) |
                    currency:'INR':true
                    :'0.0-2'}}</span>
                </div>
              </ion-label>
            </ion-item>
            <div class="direction ion-hide" (click)="openWithInAppBrowser(order)">
              <img src="assets/icon/Direction.svg" alt="Direction_icon">
            </div>
          </div>
          <div>
            <div>
              <div class="btns" *ngIf="order.status == orderStatus.NEW">
                <ion-button shape="round" fill="clear" class="reject"
                  (click)="openCancelModal(order, 'REJECTED',orderStatus.NEW)">{{'Reject' | language : 'Reject'}}</ion-button>
                 <ion-button shape="round" class="accept" (click)="orderStatusChangeViewOld(ind, order, 'ACCEPTED')">{{'Accept '| language : 'Accept'}}</ion-button> 
                <!-- <ion-item lines="none" fill="solid">
                  <ion-select interface="popover" value="Accept">
                    <ion-select-option value="Accept">Accept</ion-select-option>
                    <ion-select-option value="Process">Process</ion-select-option>
                    <ion-select-option value="Ready">Ready</ion-select-option>
                    <ion-select-option value="Dispatch">Dispatch</ion-select-option>
                    <ion-select-option value="Delivered">Delivered</ion-select-option>
                  </ion-select>
                </ion-item> -->
              </div>
    
              <div class="btns" *ngIf="order.status == orderStatus.ACCEPTED">
                <ion-button shape="round" fill="clear" class="reject" (click)="openCancelModal(order, 'CANCELLED',orderStatus.ACCEPTED)">{{'cancel' | language : 'Cancel'}}
                </ion-button>
                <ion-button shape="round" class="accept"
                  (click)="changeOrderStatusModal(order, 'PROCESSING', orderStatus.PROCESSING)">{{'Process' | language :
                  'Process'}}</ion-button>
              </div>
    
              <div class="btns" *ngIf="order.status == orderStatus.PROCESSING">
                <ion-button shape="round" fill="clear" class="reject"
                  (click)="openCancelModal(order, 'CANCELLED', orderStatus.PROCESSING)">{{'cancel' | language : 'Cancel'}}</ion-button>
                <ion-button shape="round" class="accept"
                  (click)="changeOrderStatusModal(order, 'READY', orderStatus.READY)">{{'ready' | language : 'Ready'}}</ion-button>
              </div>
    
              <div class="btns" *ngIf="order.status == orderStatus.READY">
                <ion-button shape="round" fill="clear" class="reject" (click)="openCancelModal(order, 'NO_SHOW', orderStatus.READY)">{{'noshow' | language : 'No show'}}
                  <ion-icon class="end-icon" slot="end" src="../../../../assets/icon/ic_cross.svg"></ion-icon>
                </ion-button>
    
                <ion-button shape="round" class="accept"
                  (click)="changeOrderStatusModal(order, 'DELIVERY', orderStatus.DELIVERY)">{{'pickUp' | language : 'Pickup'}}
                  <ion-icon class="end-icon" slot="end" src="../../../../assets/icon/ic_right.svg"></ion-icon>
                </ion-button>
              </div>
    
              <div class="btns" *ngIf="order.status == 'DELIVERED'">
                <ion-button *ngIf="order.payment.paid == false" shape="round" class="accept-full"
                  (click)="checkPaymentAcknowledgement(ind, order)">Payment Received</ion-button>
                <ion-button *ngIf="order.payment.paid == true" shape="round" class="accept-full" (click)="checkPaymentAcknowledgement(ind, order)">
                  <ion-icon class="end-icon" slot="start" src="./../../../../assets/icon/ic_doneall.svg"></ion-icon>Confirm Payment</ion-button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Delivery -->
      <div class="card" *ngIf="order?.delivery?.mode == 'DELIVERY'">
        <div class="orderDetails">
          <p class="orderId" (click)="gotoOrderDetails(order)">{{'order' | language : 'Order #'}}: {{order.orderID | textTruncate : 11}}</p>
          <div class="profile">
            <ion-item lines="none">
              <ion-thumbnail>
                <img src="{{order.userDetails.image}}" alt="profilePic" class="profilePic"/>
                <a href="tel:{{order?.userDetails?.phone}}"><img src="/assets/images/Group 7995.svg" alt="call-icon" class="callIcon" /></a>
              </ion-thumbnail>
              <ion-label>
                <div class="" (click)="gotoOrderDetails(order)">
                  <p class="stock">+91 {{order.userDetails.phone}}</p>
                  <p class="name">{{order?.userDetails?.name}}</p>
                  <div class="location">
                    <ion-icon name="location-outline"></ion-icon>
                    <p class="address" title="{{order?.delivery?.location?.address}}">{{order?.delivery?.location?.address}}</p>
                  </div>
                  <div class="pickup">
                    <img src="assets/images/truck.svg" alt="" srcset="" />
                    <p class="status">{{'delivery' | language :'Delivery'}}</p>
                  </div>
                  <span class="amount">{{(order?.delivery?.deliveryCharges ? order?.delivery?.deliveryCharges : 0) + order?.amount - order?.discount | currency:'INR':true :'0.0-2'}}</span>
                </div>
              </ion-label>
            </ion-item>
            <div class="direction ion-hide" (click)="openWithInAppBrowser(order)">
              <img src="assets/icon/Direction.svg" alt="Direction_icon">
            </div>
          </div>
    
          <div>
            <div class="btns" *ngIf="order.status == orderStatus.NEW">
              <ion-button shape="round" fill="clear" class="reject" (click)="openCancelModal(order, 'REJECTED',orderStatus.NEW)">{{'Reject' | language : 'Reject'}}</ion-button>
              <!-- <ion-button shape="round" class="accept" (click)="orderStatusChangeViewOld(ind, order, 'ACCEPTED')">{{'Accept'| language : 'Accept'}}</ion-button> -->
              <ion-item lines="none" fill="solid">
                <ion-select interface="popover" value="Accept">
                  <ion-select-option value="Accept">Accept</ion-select-option>
                  <ion-select-option value="Process">Process</ion-select-option>
                  <ion-select-option value="Ready">Ready</ion-select-option>
                  <ion-select-option value="Dispatch">Dispatch</ion-select-option>
                  <ion-select-option value="Delivered">Delivered</ion-select-option>
                </ion-select>
              </ion-item>
            </div>
    
            <div class="btns" *ngIf="order.status == orderStatus.ACCEPTED">
              <ion-button shape="round" fill="clear" class="reject" (click)="openCancelModal(order, 'CANCELLED', orderStatus.PROCESSING)">{{'cancel' | language : 'Cancel'}}</ion-button>
              <ion-button shape="round" class="accept"
                (click)="changeOrderStatusModal(order, 'PROCESSING', orderStatus.PROCESSING)">{{'Process' | language : 'Process'}}</ion-button>
            </div>
    
            <div class="btns" *ngIf="order.status == orderStatus.PROCESSING">
              <ion-button shape="round" fill="clear" class="reject" (click)="openCancelModal(order, 'CANCELLED', orderStatus.READY)">{{'cancel' | language : 'Cancel'}}</ion-button>
              <ion-button shape="round" class="accept"
                (click)="changeOrderStatusModal(order, 'READY', orderStatus.READY)">{{'ready' | language : 'Ready'}}</ion-button>
            </div>
    
            <div class="btns" *ngIf="order.status == orderStatus.READY">
              <ion-button shape="round" fill="clear" class="reject" (click)="openCancelModal(order, 'CANCELLED', orderStatus.READY)">{{'cancel' | language : 'Cancel'}}</ion-button>
              <ion-button shape="round" class="accept"
                (click)="openDispatchModal(order, 'DISPATCHED', orderStatus.DISPATCHED)">{{'Dispatch' | language : 'Dispatch'}}</ion-button>
            </div>
    
            <!-- <div class="btns" *ngIf="order.status == orderStatus.DELIVERY"> -->
            <div class="btns" *ngIf="order.status == orderStatus.DISPATCHED">
              <ion-button shape="round" fill="clear" class="reject" (click)="openCancelModal(order, 'CANCELLED', orderStatus.DELIVERY)">{{'cancel' | language : 'Cancel'}}</ion-button>
              <ion-button shape="round" class="accept" (click)="changeOrderStatusModal(order, 'PICKEDUP', orderStatus.PICKEDUP )">Start Delivery</ion-button>
            </div>
    
            <!-- DELIVERY is A Hardercoded It should be PICKEDUP -->
            <div class="btns" *ngIf="order.status == orderStatus.PICKEDUP || order.status == orderStatus.IN_TRANSIT">
              <ion-button shape="round" class="accept-full" (click)="orderStatusChangeViewOld(ind, order, 'IN_TRANSIT')">Reached Delivery Location</ion-button>
            </div>
    
            <div class="btns" *ngIf="order.status == 'DELIVERED'">
              <ion-button *ngIf="order.payment.paid == false" shape="round" class="accept-full" (click)="checkPaymentAcknowledgement(ind, order)">
                Payment Received</ion-button>
              <ion-button *ngIf="order.payment.paid == true" shape="round" class="accept-full" (click)="checkPaymentAcknowledgement(ind, order)">
                <ion-icon class="end-icon" slot="start" src="./../../../../assets/icon/ic_doneall.svg"></ion-icon>Confirm Payment</ion-button>
            </div>
          </div>
        </div>
      </div>
    </ion-col>
  </ion-row>
  

  
</ng-container>