ion-checkbox {
    margin: 0px;
    --size: 18px;
    margin-left: auto;
}

ion-checkbox::part(container) {
    border-radius: 3px;
    border: 2px solid var(--ion-color-primary);
}

ion-searchbar {
    padding: 0;
}

// ion-segment{
//     height: 47px;
//  }
ion-segment-button {
    min-width: auto !important;
}

.statusCategory {
    margin-top: 7px;
    margin-bottom: 7px;
}



.button1 {
    // width: 90%;
    padding: 10px;
    // margin-right: 4%;
    // margin-bottom: 57px;
    --background: var(--ion-color-warning)
}

.buttons .search-button {
    margin-right: -20px;
}

.segment {
    overflow-x: scroll;
    display: flex;
    color: var(--ion-color-success);

    .category {
        margin-left: 3vw;
    }
}

.content {
    height: 100vh;
    overflow-y: scroll;
    background: #f8f9f9;
}

.box {
    box-shadow: 0px 1px 10px 1px rgba(2, 27, 26, 0.06);
    border-radius: 6px;
    padding: 4px 10px;
    color: #7d7c83;
    background: #ffffff;
    // height: 30px;
    text-align: center;
}

.active {
    color: rgb(8, 144, 140);
    background: rgba(114, 243, 236, 0.6);
}

.price {
    margin: 0 auto;
    width: -webkit-fill-available;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    // padding: 1vw 7vw;
}

ion-card {
    text-align: center;
    border-radius: 8px;

    ion-card-content {
        position: relative;
        padding-bottom: 38px !important;
        padding-inline-start: 10px !important;
        padding-inline-end: 10px !important;
        padding-top: 5px !important;
        .catlog-prod {
            width: 100%;
            padding: 0px;
            .gradingsign {
                // max-width: 150%;
                width: 36px;
                height: 36px;
                object-fit: scale-down;
            }
            ion-item {
                text-align: center;
                border: 0; 
                --inner-padding-end: 0px;
            
                .producttext {
                    margin-top: 100px;
                    height: 45px;
                    text-align: center;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    color: var(--ion-color-dark);
                }
            
                .productimg {
                    position: absolute;
                    top: 0;
                    height: 100px;
                    z-index: -1;
                }
            
                .producttextcard {
                    margin-top: 100px;
                    text-align: center;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
            
                .productimgcard {
                    position: absolute;
                    top: 0;
                    // right: 0;
                    width: 121px;
                    height: 100px;
                    z-index: -1;
                    border-radius: 50% !important;
                }
            
                .product-card {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }
}



.info {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.status {
    position: absolute;
    left: 0;
    // bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 8px 0;
    // background: linear-gradient(0deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), #fecb32;
    border-top: 1px solid rgba(255, 74, 74, 0.2);
    margin: 0;
    color: var(--ion-color-dark);

    .iconstatus {
        margin-right: 8%;
    }
    p
    {
        margin: 0 !important;
    }
}

.colorblue {
    color: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), #243AA7;
}

.colorred {
    color: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), #FF4A4A;
}

ion-chip {
    border: 0.5px solid var(--ion-color-medium-tint);
}

.preOrder {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 6px;

    .text {
        margin-top: 10px;
        width: -webkit-fill-available;
        font-size: 10px;
        color: var(--ion-color-dark);
        text-align: right;
    }
}

// .discount {
//   display: flex;
//   p {
//     margin: 0 3px;
//   }
// }
// ion-accordion {
// margin: 10 auto;
// width: 100%;
// }

ion-accordion.accordion-expanding,
ion-accordion.accordion-expanded {
    // width: calc(100% - 32px);
    margin: 16px auto;
}

ion-accordion.accordion-collapsing ion-item[slot="header"],
ion-accordion.accordion-collapsed ion-item[slot="header"] {
    --background: var(--ion-color-light);
    --color: var(--ion-color-light-contrast);
}

ion-accordion.accordion-expanding ion-item[slot="header"],
ion-accordion.accordion-expanded ion-item[slot="header"] {
    box-shadow: 1px -1px 4px 2px #a9a9a9;
    --background: var(--ion-color-primary);
    --color: var(--ion-color-primary-contrast);
}

.DeliveryDayPreference-component-css #background-content {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

// below lines added by KUndan 
.rowscard {
    width: 100%;
    min-height: 25px;
}

.chipadd {
    margin-top: 10%;
    height: 24px;
    margin-right: 15px;
    color: var(--ion-color-dark-tint);
    padding: 0 8px;
}

.textalign {
    margin-left: auto;
    color: var(--ion-color-warning)
}

.textalign1 {
    margin-left: auto;
}

.textalign-item-count {
    margin-left: 10px;
}