ion-segment-button {
    text-transform: capitalize;
}
ion-modal{
    --background: #0000003b !important;
}
.comments{
    font-style: normal;
    margin-left: 5px;
    font-weight: 400;
    line-height: 18px;
    color: #333333;
    text-align: center;
    font-size: 12px;
    span{
        font-weight: 600;
    }
}

#customer {
    ion-segment {
        --background: #ffffff !important;
        background: #ffffff !important;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        padding: 0;

        ion-segment-button {
            text-transform: capitalize;
            letter-spacing: 0.8px;
            color: #838383;
        }
    }

    ion-card {
        border-radius: 0px !important;
        border-bottom-left-radius: 8px !important;
        border-bottom-right-radius: 8px !important;
        --background: #ffffff !important;
        background: #ffffff !important;
    }

}

.crm-items {
    padding: 0px !important;

    ion-item {
        --background: #FCFCFC;
        --padding-start: 8px;
        --padding-end: 8px;
        --inner-padding-end: 0px;

        ion-checkbox {
            margin-right: 16px;
            z-index: 0 !important;
        }

        ion-avatar {
            width: 46px;
            height: 46px;
            position: relative;
            margin-right: 8px;

            .status {
                width: 10px;
                height: 10px;
                border-radius: 50px;
                position: absolute;
                bottom: 0;
                right: 0;

                &.active {
                    background: #34BD1D;
                }

                &.inactive {
                    background: #D6401F;
                }
            }
        }

        ion-label {
            .name {
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                color: #333333;
            }

            .order {
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 18px;
                color: #464646;

                i {
                    font-style: normal;
                    margin-left: 8px;
                }
            }

            .history {
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                color: #999999;
            }
        }

        ion-button.action {
            --background: #fff;
            --color: var(--ion-color-primary);
            --border-radius: 50px;
            --border-width: 1px;
            --border-color: var(--ion-color-primary);
            width: 48px;
            height: 48px;
            margin: 0px;
        }
    }
}

.ion-button {
    margin-top: 2vh;
    top: 10px;
    width: 80px;
    height: 25px;
    padding-left: 0px;
}


ion-segment.main-segment {
    // margin: 10px;
    margin-top: 10px;
    margin-right: 10px;
    // width: 99vw;
    display: flex;
  justify-content: center;
   // padding: 16px;
    --background: #ffffff !important;
    background: #ffffff !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    // padding: 0px 0px 0;
    border: 1px solid var(--ion-color-primary);

    ion-segment-button {
        margin: 0px;
        align-items: center;
        text-transform: capitalize;
        letter-spacing: 0.8px;
        --color: #333333;
        --color-checked: #fff;
        --indicator-height: 0px !important;
        --background-checked: var(--ion-color-primary);
        --color-hover: var(--ion-color-primary);
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        min-height: 40px;
        min-width: 50%;
    }
}



ion-footer {
    ion-button {
        margin: 15px;

    }

}


.new-action {
    display: flex;
    justify-content: center;
    padding: 8px 8px 16px;
    border-top: 1px solid #F6F6F6;

    ion-buttons {
        width: 100%;

        ion-button {
            width: 100%;
            text-transform: capitalize;
            border-radius: 4px;
            --color: #fff !important;
            font-weight: 500;
            margin: 0 6px;

            &.reminder {
                --color: #fff !important;
                --background: #EEBA0B;
            }
        }
    }
}

.day-navbar {
    background: #ffffff;
    // font-size: 3.5vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 3.5vw 0;
    font-weight: 450;
    cursor: pointer;
}

.dayFilter {
    color: #747474;
    padding: 0 3vw;
    border: 1px solid var(--ion-color-primary);
    border-radius: 26px;
    color: var(--ion-color-primary);
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;

    &.active {
        background: var(--ion-color-primary);
        color: #fff;
    }
}

.dateFilter {
    margin: auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #747474;
    background: white;

    ion-icon {
        color: var(--ion-color-primary);
        margin: auto 0;
        font-size: 27px;
    }
}

.new-customer-segment {
    overflow-x: auto;
    display: flex;
    justify-content: flex-start;
    width: -webkit-fill-available;

    ion-segment-button
    {
        width: auto !important;
        // max-width: auto !important;
    }
}

ion-segment {
    --backgorund: white;
}

ion-segment-button {
    --background: white;
}

.nav {
    overflow-x: scroll;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 5px;

    p {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.1px;
        background: #f6f6f6;
        border-radius: 5px;
        color: #333333;
        margin-left: 24px;
        padding-left: 5px;
        padding-right: 5px;
        height: 24px;
        text-transform: capitalize;
        padding-top: 2px;
        &.active {
            background-color: var(--ion-color-primary);
            color: #ffffff;
        }
    }
}

.box2 {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid rgba(16, 186, 178, 0.2);
    text-emphasis: center;
    position: relative;
    #type {
        position: absolute;
        width: 50px;
        height: 50px;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.87), rgba(255, 255, 255, 0.87)), #10BAB2;
        border-radius: 5px;
    }
    #ratings {
        position: absolute;
        right: 40px;
        top: -4px;
    }
    #like {
        position: absolute;
        right: 5px;
        top: 7px;
    }
    #num {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #333333;
        text-align: center;
        margin-top: 10;
        margin-bottom: 5px;
    }
    #StatusTxt {
        text-align: center;
        font-style: normal;
        margin: 0;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #333333;
    }
    .Allcheckbox {
        margin-top: 15px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        .checkbox {
            margin-left: 8px;
            margin-right: 8px;
            display: flex;
            align-items: center;
            text-transform: capitalize;
            ion-checkbox {
                height: 16px;
                width: 16px;
                --checkmark-color: white;
                --background-checked: #00a64f;
                --border-color-checked: #00a64f;
                --background: #d4d4d4;
                --border-color: #d4d4d4;
                --border-radius: 100%;
            }
            span {
                font-style: normal;
                margin-left: 5px;
                font-weight: 400;
                line-height: 18px;
                color: #333333;
                font-size: 12px;
            }
        }
    }
}

