<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-back-button defaultHref="/home" text="" color="dark"></ion-back-button> -->
      <ion-back-button slot="start" color="primary" defaultHref="/home" text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-no-padding">CRM</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-segment [(ngModel)]="customers"  class="main-segment">
    <ion-segment-button value="new">
      <ion-label>New</ion-label>
    </ion-segment-button>
    <ion-segment-button value="existing">
      <ion-label>Existing</ion-label>
    </ion-segment-button>
  </ion-segment>
  
  <div [ngSwitch]="customers">
    <div *ngSwitchCase="'new'" class="ion-no-margin ion-padding-bottom">

      <ion-segment [(ngModel)]="newSegment" color="primary" mode="md" class="new-customer-segment">

        <div class="nav">
          <p *ngFor="let f of filters; let i = index" (click)="applyFilter(f.key, i)" [class.active]="selectedIndex === i">
            {{ f.value }}
          </p>
        </div>

      </ion-segment>

      <!-- My referal -->
      <div>
        <div class="box2" *ngFor="let referrals of myReferrals" [id]="referrals?._id">
          <ion-img id="type" *ngIf="referrals?.type === 'INDIVIDUAL'" src="assets/crm/person.png" alt="">
          </ion-img>
          <ion-img id="type" *ngIf="referrals?.type === 'deliveryValet'" src="assets/ReferrlImg/deliveryValet.png" alt=""></ion-img>
          <ion-img id="type" *ngIf="referrals?.type === 'RETAILER'" src="assets/ReferrlImg/retailer.png" alt="">
          </ion-img>
          <ion-img id="type" *ngIf="referrals?.type === 'wholeseller'" src="assets/ReferrlImg/wholeseller.png" alt="">
          </ion-img>
          <ion-img id="type" *ngIf="referrals?.type === 'farmer'" src="assets/ReferrlImg/farmer.png" alt=""></ion-img>
          <ion-img id="type" *ngIf="referrals?.type === 'traderBroker'" src="assets/ReferrlImg/trader_broker.png" alt=""></ion-img>
          <ion-img id="type" *ngIf="referrals?.type === 'deliveryPartner'" src="assets/ReferrlImg/deliveryPartner.png" alt=""></ion-img>
          <ion-img id="type" *ngIf="referrals?.type === 'other'" src="assets/ReferrlImg/other.png" alt=""></ion-img>
          <p id="ratings">{{ referrals?.ratings }}</p>
          <ion-img (click)="referralRating(referrals?.phone_number,referrals?.type)" id="like" src="assets/ReferrlImg/tabler_thumb-up.png" *ngIf="referrals?.ack_status" alt=""></ion-img>
          <ion-img (click)="referralRating(referrals?.phone_number,referrals?.type)" id="like" src="assets/ReferrlImg/ic_thumb_up_inactive.png" *ngIf="!referrals?.ack_status" alt=""></ion-img>
          <p id="num">+91 {{ referrals?.phone_number }}</p>
          <p id="StatusTxt">
            Referral Status:
            <!-- {{ referrals?.first_order_status }} -->
          </p>
          <div class="Allcheckbox">
            <ng-container *ngFor="let stage of referrals.stages">
              <div *ngIf="stage?.show" class="checkbox">
                <ion-icon color="warning" *ngIf="stage?.value" name="checkmark-circle"></ion-icon>
                <ion-icon color="medium" *ngIf="!stage?.value" name="checkmark-circle"></ion-icon>
                <span>{{ stage?.name }}</span>
              </div>
            </ng-container>
          </div>
          <div *ngIf="referrals?.comments">
            <p class="comments"><span>Comment : </span>{{referrals?.comments}}</p>
          </div>

          <div class="new-action">
            <ion-buttons>
              <ion-button class="reminder" fill="solid" (click)="sendReminder(referrals)" *ngIf="!referrals?.referral_reward_status" >
                <ion-icon slot="start" name="chatbox-ellipses-outline"></ion-icon>
                Reminder
              </ion-button>
              <ion-button color="primary" fill="solid" href="tel:{{ referrals?.phone_number }}" *ngIf="!referrals?.referral_reward_status" >
                <ion-icon slot="start" name="call-outline"></ion-icon>
                Call
              </ion-button>
            </ion-buttons>
            <p id="StatusTxt" *ngIf="referrals?.referral_reward_status">
              <img src="assets/ReferrlImg/rewards.png" alt="" />You have got the Reward
            </p>
          </div>

        </div>
      </div>

    
    </div>
    <div *ngSwitchCase="'existing'" class="ion-no-margin ion-padding-bottom">
      <div id="customer">
        <ion-segment [(ngModel)]="segment" color="primary" mode="md">
          <ion-segment-button value="1">
            All
          </ion-segment-button>
          <ion-segment-button value="2">
            Active
          </ion-segment-button>
          <ion-segment-button value="3">
            InActive
          </ion-segment-button>
        </ion-segment>

        <ng-container>
          <div class="day-navbar">
            <a class="dayFilter" (click)="activeDay('3')" [ngClass]="{'active': activeNav==='3'}">3 days</a>
            <a class="dayFilter" (click)="activeDay('5')" [ngClass]="{'active': activeNav==='5'}">5 days</a>
	          <a class="dayFilter" (click)="activeDay('7')" [ngClass]="{'active': activeNav==='7'}">7 days</a>
            <div class="dateFilter" id="dateFil">
              <ion-modal trigger="dateFil" handleBehavior="cycle" show-backdrop="false"
                side="end">
                <ng-template>
                  <app-date-time-picker (datePickerValue)="activeDay($event)">
                  </app-date-time-picker>
                </ng-template>
              </ion-modal>
              <ion-icon name="calendar-clear-outline"></ion-icon>
            </div>
          </div>
        </ng-container>    

        <div [ngSwitch]="segment">
          <div *ngSwitchCase="'1'" class="ion-no-margin ion-padding-bottom">
            <ion-grid class="crm-items">
              <ion-row>
                <ion-col *ngFor="let customer of allCustomers" size="12" size-sm="6" size-md="4" size-lg="3">
                  <ion-item lines="none">
                    <!-- <ion-checkbox slot="start" color="primary" mode="md"></ion-checkbox> -->

                    <ion-checkbox slot="start" class="check"  color="primary" mode="md" id="{{customer?.userId}}" (click)="chooseCustomer(customer.userId, customer.userPhoneNumber)"
                     mode="md"></ion-checkbox>
              
                    <ion-avatar>
                      <img src="assets/crm/person.png" alt="Profile Image" />
                      <div *ngIf="customer.userStatus === 'ACTIVE'" class="status active"></div>
                      <div *ngIf="customer.userStatus === 'INACTIVE'" class="status inactive"></div>
                    </ion-avatar>
                    <ion-label (click)="customerDetails(customer.userId, customer.userPhoneNumber, customer.userStatus)">
                      <!-- <div class="name">Jogesh Wani</div> -->
                      <div class="name">{{ customer?.name ? customer?.name : customer?.userPhoneNumber }}</div>
                      <div class="order">Orders: {{customer?.totalOrders}} <i>{{customer?.totalAmount | currency:'INR':true :'0.0-2'}}</i></div>
                      <div class="history">Last Order : {{customer?.lastOrderDate | date :  "dd.MM.YYYY"}}</div>
                    </ion-label>
                    <!-- <ion-button class="action" fill="outline" slot="end" (click)="sendMessage(customer.userPhoneNumber)"> -->
                    <ion-button class="action" fill="outline" slot="end" (click)="callCustomer(customer.userPhoneNumber)">
                      <ion-icon slot="icon-only" name="call-outline"></ion-icon>
                    </ion-button>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
          <ion-card *ngSwitchCase="'2'" class="ion-no-margin ion-padding-bottom">
            <ion-grid class="crm-items">
              <ion-row>
                <ng-container *ngFor="let customer of allCustomers">
                <ion-col size="12" size-sm="6" size-md="4" size-lg="3" *ngIf="customer.userStatus === 'ACTIVE'">
                  <ion-item lines="none">
                    <!-- <ion-checkbox slot="start" color="primary" mode="md"></ion-checkbox> -->
                    <ion-checkbox slot="start" class="check"  color="primary" mode="md" id="{{customer?.userId}}" (click)="chooseCustomer(customer.userId, customer.userPhoneNumber)"
                    mode="md"></ion-checkbox>
                    <ion-avatar>
                      <img src="assets/crm/person.png" alt="Profile Image" />
                      <div class="status active"></div>
                    </ion-avatar>
                    <ion-label (click)="customerDetails(customer.userId, customer.userPhoneNumber, customer.userStatus)">
                      <!-- <div class="name">Jogesh Wani</div> -->
                      <div class="name">{{ customer?.name ? customer?.name : customer?.userPhoneNumber }}</div>
                      <div class="order">Orders: {{customer?.totalOrders}} <i>{{customer?.totalAmount | currency:'INR':true :'0.0-2'}}</i></div>
                      <div class="history">Last Order : {{customer?.lastOrderDate | date :  "dd.MM.YYYY"}}</div>
                    </ion-label>
                    <!-- <ion-button class="action" fill="outline" slot="end" (click)="sendMessage(customer.userPhoneNumber)"> -->
                    <ion-button class="action" fill="outline" slot="end" (click)="callCustomer(customer.userPhoneNumber)">
                      <ion-icon slot="icon-only" name="call-outline"></ion-icon>
                    </ion-button>
                  </ion-item>
                </ion-col>
               </ng-container>
              </ion-row>
            </ion-grid>
          </ion-card>
          <ion-card *ngSwitchCase="'3'" class="ion-no-margin ion-padding-bottom">
            <ion-grid class="crm-items">
              <ion-row>
                <ng-container *ngFor="let customer of allCustomers">
                <ion-col size="12" size-sm="6" size-md="4" size-lg="3" *ngIf="customer.userStatus === 'INACTIVE'">
                  <ion-item lines="none">
                    <!-- <ion-checkbox slot="start" color="primary" mode="md"></ion-checkbox> -->
                    <ion-checkbox slot="start" class="check"  color="primary" mode="md" id="{{customer?.userId}}" (click)="chooseCustomer(customer.userId, customer.userPhoneNumber)"
                    mode="md"></ion-checkbox>
                    <ion-avatar>
                      <img src="assets/crm/person.png" alt="Profile Image" />
                      <div class="status inactive"></div>
                    </ion-avatar>
                    <ion-label (click)="customerDetails(customer.userId, customer.userPhoneNumber, customer.userStatus)">
                      <!-- <div class="name">Jogesh Wani</div> -->
                      <div class="name">{{ customer?.name ? customer?.name : customer?.userPhoneNumber }}</div>
                      <div class="order">Orders: {{customer?.totalOrders}} <i>{{customer?.totalAmount | currency:'INR':true :'0.0-2'}}</i></div>
                      <div class="history">Last Order :{{customer?.lastOrderDate | date :  "dd.MM.YYYY"}}</div>
                    </ion-label>
                    <!-- <ion-button class="action" fill="outline" slot="end" (click)="sendMessage(customer.userPhoneNumber)"> -->
                    <ion-button class="action" fill="outline" slot="end" (click)="callCustomer(customer.userPhoneNumber)">
                      <ion-icon slot="icon-only" name="call-outline"></ion-icon>
                    </ion-button>
                  </ion-item>
                </ion-col>
               </ng-container>
              </ion-row>
            </ion-grid>
          </ion-card>
        </div>
      </div>
      
    </div>
  </div>
</ion-content>
<ion-footer [ngSwitch]="customers">
  <ion-button *ngSwitchCase="'existing'" shape="round" expand="full" class="push-notification" [disabled]="disabled" (click)="commonService.featureNotAvailable()">Push notification</ion-button>

</ion-footer>