.container{
    text-align: center;
  }
  
  .img-profile{
    border-radius: 100%;
    }
  
  .card-header{
    background: none;
  }
  .button{
    border-radius: 30px;
    margin: auto;
  }
  .footer{
    background: #FFFFFF;
    box-shadow: 0px 1px 24px rgba(0, 0, 0, 0.1);
    height: 60px;
    display: flex;
    margin: auto;
    justify-content: center;
  }
  .icon{
    margin-right: 5px;
  }
  .clear{
    height: 50px;
  }
  .heading{
    font-weight: 600;
    font-size: 2.5vh;
  }