.navbar {
    display: flex;
    overflow-x: auto;
    justify-content: flex-start;
    padding: 0;

    a {
        text-decoration: none;
        cursor: pointer;
        display: block;
        height: fit-content;
        width: fit-content;
        text-align: center;
        color: var(--ion-color-primary);
        padding-bottom: 0.5rem;
        font-size: 1.1rem;
        margin: 0 1vw;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:first-child {
            margin: 0;
        }

        &.active {
            border-bottom: 2px solid;
        }
    }
}

.filter {
    width: 100%;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        letter-spacing: 0.02em;
        padding: 6px 10px;
        margin: 8px 8px 8px 0;
        height: 30px;
        width: auto;
        background: #fff;
        border: 1px solid var(--ion-color-primary);
        border-radius: 30px;
        text-decoration: none;
        cursor: pointer;

        &.active {
            background: var(--ion-color-primary);
            color: #fff;
        }
    }
}
.info-section {
    height: calc(62vh - 40px);
    position: sticky;
    background: rgba(231, 255, 254, 0.8);
    border-radius: 10px;
    margin-top: 8px;

    .sidebar {
        display: flex;
        flex-direction: column;
        height: -webkit-fill-available;

        .scroll {
            border-radius: 10px;
            overflow: auto;

            .type {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background: var(--ion-color-primary-contrast);
                cursor: pointer;
                color: var(--ion-color-primary);
                background: transparent;

                &.current {
                    background: #10bab2;
                    color: #fff;
                }

                ion-label {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    width: -webkit-fill-available !important;
                    text-align: left;
                    min-height: 50px;

                    ion-img {
                        margin: 0 10px 0 8px;
                    }

                    span {
                        font-weight: 500;
                        font-size: 14px;
                        letter-spacing: 0.0125em;
                    }
                }
            }
        }




    }

}

.product-display {
    height: calc(62vh - 40px);
    position: sticky;
    overflow-y: auto;
    .product {
        ion-card-title {
            font-size: small;
            font-weight: 500;
            color: var(--ion-color-dark-shade);
            -webkit-line-clamp: 2;
            line-clamp: 2;
            -webkit-box-orient: vertical;
            max-height: 31px;
            height: 31px;
            // display: flex;
            overflow: hidden;
            word-wrap: break-word;
            align-items: flex-start;
            text-overflow: ellipsis;
        }

        justify-content: space-evenly;
        text-align: center;
        border: 1px solid #EEEEEE;
        box-shadow: none;
        border-radius: 4px !important;
        --background: #ffffff;
        margin: 0px;
        cursor: pointer;

        span {
            background: #fff;
            position: absolute;
            top: 0px;
            right: 0;
            padding: 5px 5px 0;
            margin: 0px;
            border-radius: 0 0px 0 4px;

            ion-checkbox {
                margin: 0;
                padding: 0;
            }
        }

        .productimage {
            border-radius: 0 !important;
            padding: 0px;
            width: -webkit-fill-available;
            height: 175px;
            max-height: 175px;
            object-fit: contain;
        }
    }
}

::-webkit-scrollbar {
    width: 0px;
}