<table style="margin-top: 20px;" class="table table-striped table-hover table-bordered">
	<thead>
		<tr>
			<th scope="col" *ngFor="let data of headers">{{data.name}}</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let data of tableData;let i=index">
			<td *ngFor="let item of dataList">
				<span *ngIf="item == 'sno'" [ngClass]="getClass(data[item])">{{i+1}}</span>
				<span *ngIf="item != 'delete' && item != 'update' && item != 'UpdateMapping' && item != 'sno' && item != 'image'"
					[ngClass]="getClass(data[item])">{{data[item]}}</span>
				<span *ngIf="item === 'image'" style="display: flex; align-items: center;">
					<img alt="" [src]="data.image" width="100px" height="100px" />
				</span>
				<span *ngIf="item == 'delete'">
					<button type="button" class="btn btn-outline-danger" (click)="onDeleteEvent(data.id)">
						<svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2"
							fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
							<polyline points="3 6 5 6 21 6"></polyline>
							<path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2">
							</path>
							<line x1="10" y1="11" x2="10" y2="17"></line>
							<line x1="14" y1="11" x2="14" y2="17"></line>
						</svg>
					</button>
				</span>
				<span *ngIf="item == 'update'">
					<button type="button" class="btn btn-outline-success" (click)="onUpdateEvent(data.id)">
						<svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2"
							fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
							<path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path>
							<path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path>
						</svg>
					</button>
				</span>
				<span *ngIf="item == 'updatemapping'">
					<button type="button" class="btn btn-outline-success" (click)="onUpdatemapping(data.id)">
						<svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2"
							fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
							<path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path>
							<path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path>
						</svg>
					</button>
				</span>
			</td>
		</tr>
	</tbody>
</table>