<app-header></app-header>
<ion-content [fullscreen]="true">

  <div class="banner" (click)="refferalModule()"> </div>

<ion-grid>
  <ion-row>
    <ion-col size="12" size-sm="6" size-md="4" size-lg="3" *ngFor="let item of homeList">

      <ion-card mode="ios" class="ion-padding ion-text-center" (click)="navigatePage(item.disable)">
        <ion-img class="homelist-img" [src]="item.imgsrc"></ion-img>
        {{item.name}}
      </ion-card>


    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>

