
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="order" layout="icon-top">
          <ion-icon src="../../../../assets/icon/ic_home.svg"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>

        <ion-tab-button layout="icon-top" (click)="commonService.featureNotAvailable()">
          <ion-icon style="stroke: gainsboro;" src="../../../../assets/icon/ic_inventory.svg"></ion-icon>
          <ion-label style="color: gainsboro;">Inventory</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="order-history" layout="icon-top">
          <ion-icon src="../../../../assets/icon/ic_history.svg"></ion-icon>
          <ion-label>History</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="order-notification" layout="icon-top">
          <ion-icon src="../../../../assets/icon/ic_notification.svg"></ion-icon>
          <ion-label>Notification</ion-label>
        </ion-tab-button>

      </ion-tab-bar>
    </ion-tabs>
