// ion-img {
//   margin: auto;
//   height: 48px;
//   width: 48px;
// }
ion-segment {
  --backgorund: white;
  
}
ion-segment-button{
  text-transform: capitalize;
}
.reward-text{
  font-weight: 600;
font-size: 16px;
line-height: 24px;
color: var(--ion-color-warning-contras);
}

.nav-logo {
    height: 45px;
    width: 40px;
    margin-left: 10px;
}

.rewr-btn {
  color: var( --ion-color-primary);
  --background: var(--ion-color-secondary) 16%;
  
}

.ind-btn {
  --backgorund: var(--ion-color-primary-contrast);
  border-color: var(--ion-color-primary);
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
}

ion-segment-button {
    --background: var(--ion-color-primary-contrast);
}

.box {
  border: 1px solid var(--ion-color-primary);
  border-radius: 3px;
}

.gifts {
  .gift-img {
    width: 48px;
    height: 48px;
    // margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 38%;
    align-items: center;
  }
  .cards {
    border: 1px solid var(--ion-color-primary);
    border-radius: 4px;
    text-align: center;
    margin-bottom: 10px;
    // margin-right: 10px;

    .icon {
      position: relative;
      width: 36px;
      height: 36px;
      border-radius: 4px;
     
    }

    p {
      font-weight: 500;
      font-size: 14px;
      line-height: 132%;
      margin-top: 10px;
      margin: 0;
      color: var(--ion-color-dark-tint);
    }
    #txt1 {
     
      font-weight: 500;
      font-size: 14px;
      line-height: 132%;
      margin-top: 10px;
      margin: 0;
      color: var(--ion-color-dark-tint);
    }

    #txt2 {
     
      font-weight: 600;
      margin: 0;
      font-size: 16px;
      line-height: 132%;
      color: var(--ion-color-dark-tint);
    }

    #txt3 {
      font-style: normal;
      font-weight: 400;
      margin: 0;
      font-size: 12px;
      line-height: 132%;
      color: var(--ion-color-dark-tint);
    }
  }
}

.nav {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 5px;
  p {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.1px;
    background: var(--ion-color-dark-contrast);
    border-radius: 5px;
    color: var(--ion-color-dark-tint);
    margin-left: 24px;
    padding-left: 5px;
    padding-right: 5px;
    height: 24px;
    text-transform: capitalize;
    &.active {
      background-color: var(--ion-color-primary);
      color: var(--ion-color-secondary-contrast);
    }
  }
}

.box2 {
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 20px;
  border: 1px solid var(--ion-color-primary);
  text-emphasis: center;
  position: relative;

  #type {
    position: absolute;
    width: 36px;
    height: 36px;
    // background: linear-gradient(
    //   180deg,
    //   rgba(244, 162, 89, 0.1) 0%,
    //   rgba(244, 162, 89, 0.13) 100%
    // );
   
    border-radius: 5px;
  }
 

  #like {
    position: absolute;
    right: 5px;
    top: 7px;
  }

  #num {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color:var(--ion-color-dark-tint);
    text-align: center;
    margin-top: 10;
    margin-bottom: 5px;
  }

  #StatusTxt {
    text-align: center;

    font-style: normal;
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--ion-color-dark-tint);
  }

  .Allcheckbox {
    margin-top: 15px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    .checkbox {
      margin-left: 8px;
      margin-right: 8px;
      display: flex;
      align-items: center;
      text-transform: capitalize;
      ion-checkbox {
        height: 16px;
        width: 16px;
        --checkmark-color: var( --ion-color-medium-contrast);
        --background-checked: var( --ion-color-primary);
        --border-color-checked: var( --ion-color-primary);

        --background: var(--ion-color-light-shade);
        --border-color: var(--ion-color-light-shade);
        --border-radius: 100%;
      }

      span {
        font-style: normal;
        margin-left: 5px;
        font-weight: 400;
        line-height: 18px;
        color:var(--ion-color-dark-tint);
        font-size: 12px;
      }
    }
  }

  .line {
    width: 100%;
    border: 1px solid var(-ion-color-light-tint);
  }

  .btn-cont {
    text-align: center;
    img {
      width: 45%;
      margin: 5px 5px 0 5px;
    }
    a {
      width: 45%;
      margin: 5px 5px 0 5px;
    }
  }

  .btn {
    --background:var(--ion-color-warning);
    height: 28px;
    --border-radius: 4px;
    margin: 6px 9px 6px 9px;
    width: -webkit-fill-available;

    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.01em;
    line-height: 24px;
    text-transform: capitalize;
    img {
      justify-content: center;
      margin-right: 5px;
    }
  }
  .btn2 {
    --background:var(--ion-color-primary);
    height: 28px;
    --border-radius: 4px;
    margin: 6px 9px 6px 9px;
    width: -webkit-fill-available;
    text-transform: capitalize;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.01em;
    line-height: 24px;
    img {
      justify-content: center;
      margin-right: 5px;
    }
  }
}
 
#first-para{
  font-weight: 600;
font-size: 14px;
line-height: 21px;
}
#next-para{
  font-weight: 400;
font-size: 12px;
line-height: 16px;
}