.header {
    display: flex;
    ion-title {
        font-size: 5.5vw;
        position: relative;
    }
    ion-icon {
        margin: auto 0;
        font-size: 5vw;
        padding: 0 0 0 3vw;
        color: var(--ion-color-dark-tint);
    }
}
ion-icon{
    position: relative;
  left: 4vw;
  font-size: 7vw;
  color: var(--ion-color-dark-tint);
}
.bgy {
    background: #f7bc0d;
}

.renew {
    display: flex;
    align-items: center;
}

.renewchip {
    background-color: #aaaaaa;
}

.discount {
    margin-top: 4px;
}

.bgw {
    color: white;
}

.invoice {
    border: 1px solid black;
    padding: 3px 18px;
   
}
ion-button{
    margin: 0 4vw;
}
