<ion-header>
    <ion-toolbar>
        <!-- <ion-buttons slot="start" (click)="onBack()">
            <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-buttons> -->
        <ion-title>{{'Invoice' | language : 'INVOICE'}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid fixed class="first-card">
        <ion-row class="ion-margin">
            <ion-col size="6"><ion-label>{{'entityname' | language : 'Entity Name'}}</ion-label></ion-col>
            <ion-col size="6"><ion-text> SarvMai Pvt Ltd </ion-text></ion-col>
        </ion-row>
        <ion-row class="ion-margin">
            <ion-col size="6"><ion-label>{{'GSTINNumber' | language : 'GSTIN Number'}}</ion-label></ion-col>
            <ion-col size="6"><ion-text>29ABICS9020N1ZP</ion-text></ion-col>
        </ion-row>
        <ion-row class="ion-margin">
            <ion-col size="6"><ion-label>Number</ion-label> </ion-col>
            <ion-col size="6"><ion-text>{{invoiceNo}}</ion-text></ion-col>
        </ion-row>
    </ion-grid>
    <ion-card>
        <ion-grid fixed class="second-card">
            <ion-row class="ion-margin">
                <ion-col size="6"><ion-label>IGSTIN</ion-label></ion-col>
                <ion-col size="6"><ion-text>{{shopDetails.GST_no}}</ion-text></ion-col>
            </ion-row>
            <ion-row class="ion-margin">
                <ion-col size="6"><ion-label>Shop Name</ion-label></ion-col>
                <ion-col size="6"><ion-text>{{shopDetails.shop_name}}</ion-text></ion-col>
            </ion-row>
            <ion-row class="ion-margin">
                <ion-col size="6"><ion-label>Phone No.</ion-label></ion-col>
                <ion-col size="6"><ion-text>{{commonService.userData.phone}}</ion-text></ion-col>
            </ion-row>
            <ion-row class="ion-margin">
                <ion-col size="6"><ion-label>Shop Address</ion-label></ion-col>
                <ion-col size="6" class="shop-add">{{userAddress}}</ion-col>
            </ion-row>
            <ion-row class="ion-margin">
                <ion-col size="6"><ion-label id="basic-subscription">{{'BasicSubscription ' | language : 'Basic Subscription'}}</ion-label></ion-col>
                <ion-col size="6"><ion-text>{{subscripInfo.startDate}}</ion-text></ion-col>
            </ion-row>
            <ion-row class="ion-margin">
                <ion-col size="6"><ion-label>{{'amount' | language : 'Amount'}}</ion-label></ion-col>
                <ion-col size="6"><ion-text>{{subscripInfo.amount}}</ion-text></ion-col>
            </ion-row>
            <ion-row  class=" ion-margin">
                <ion-col size="6"><ion-label>{{'gst18' | language : 'GST (18%)'}}</ion-label></ion-col>
                <ion-col size="6"><ion-text>&plus; {{subscripInfo.gst}}</ion-text> </ion-col>
            </ion-row>
            <hr>
            <ion-row class=" ion-margin total-amount">
                
                <ion-col class="ion-padding-top" size="6"><ion-label>{{'TotalAmount ' | language : 'Total Amount'}}</ion-label></ion-col>
                <ion-col class="ion-padding-top" size="6"><ion-text>{{subscripInfo.amount + subscripInfo.gst}}</ion-text></ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
    <ion-button color="primary" expand="block" shape="round" routerLink="/home">{{'home' | language :
        'Home'}}
    </ion-button>
</ion-content>