table{

    thead{

      tr{

        th{
          font-size: 0.9rem;
          font-weight: normal;
        }
      }
    }

    tbody{
      font-size: 0.8rem;
    }

  }
  .col-xxl-12{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.addButton{
  // padding: 8px 21px !important;
  // margin-bottom: 20px;
  margin-top: 2px;
}
.searchBox{
  width: 100%;
  border: 1px solid #ddd;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 8px;
}
.syncBtn{
  margin-right: 20px;
}
#goTopbtn{
  display: flex;
    float: right;
    border: none;
    border-radius: 8px;
    margin-top: 9px;
    margin-right: 6px;
}

.syncBtn{
  vertical-align: middle;
  background: #8bd98b;
  height: 33px;
  width: 34px;
  border-radius: 6px;
}
.tableScrollbar{
  overflow: auto;
  height: 70vh;
}
.bulkuploadbtn{
  background: #e0d5d5;
    border: none;
}
.productListtitle{
 font-weight: 600;
}