.active-link {
  border-right: 3px solid var(--ion-color-primary);

}

ion-menu {
  width: 18vw;

  ion-content.menu {

    ion-list {

      &.list-md,
      &.list-ios {
        background: transparent !important;
      }
    }

    ion-item {
      ion-avatar,
      ion-icon {
        margin: 0 12px;
      }
    }

  }
}