<!-- <ion-split-pane contentId="main">
  <ion-menu  contentId="main">
   
    <ion-content class="menu">
      <ion-menu-toggle autoHide="false">
        <ion-item lines="none" routerLink="/split-profile/edit-profile-screen"routerDirection="root" routerLinkActive="active-link">
          <ion-avatar slot="start">
            <img src="assets/icon/profileicon.svg" />
          </ion-avatar>
         
          <ion-label>
             <h3>Vighnesh </h3> <p>+91-9762218995</p>
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle autoHide="false">
        <ion-item lines="none" routerLink="/split-profile/shop-address" routerDirection="root"
          routerLinkActive="active-link" >
          <ion-icon  src="assets/icon/shoplogo.svg"></ion-icon>
          <ion-label>
            Shop Address
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle autoHide="false">
        <ion-item lines="none" routerLink="/split-profile/settings" routerDirection="root"
          routerLinkActive="active-link">
          <ion-icon src="assets/icon/settingsicon.svg"></ion-icon>
          <ion-label>
            Settings
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle autoHide="false">
        <ion-item lines="none" routerLink="/split-profile/wallet" routerDirection="root" routerLinkActive="active-link">
          <ion-icon src="assets/icon/walleticon.svg"></ion-icon>
          <ion-label>
            Wallet
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle autoHide="false">
        <ion-item lines="none" routerLink="/split-profile/bank-form" routerDirection="root"
          routerLinkActive="active-link">
          <ion-icon src="assets/icon/Bank Details.svg"></ion-icon>
          <ion-label>
            Bank Details
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle autoHide="false">
        <ion-item lines="none" routerLink="/split-profile/refer" routerDirection="root" routerLinkActive="active-link">
          <ion-icon src="assets/icon/refer-and-earn-icon.svg">
          </ion-icon>
          <ion-label>
             Refer and learn
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle autoHide="false">
        <ion-item lines="none" routerLink="/split-profile/subscription" routerDirection="root"
          routerLinkActive="active-link">
          <ion-icon  src="assets/icon/subscription-icon.svg">
          </ion-icon>
          <ion-label>
            Subscription
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle autoHide="false">
        <ion-item lines="none" routerLink="/split-profile/gstin" routerDirection="root" routerLinkActive="active-link">
          <ion-icon src="assets/icon/gstin.svg">
          </ion-icon>
          <ion-label>
            GSTIN
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle autoHide="false">
        <ion-item lines="none" routerLink="/split-profile/help" routerDirection="root"
         routerLinkActive="active-link">
         <ion-icon src="assets/icon/helpicon.svg"></ion-icon>
          <ion-label>
             Help
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle autoHide="false">
        <ion-item lines="none" routerLink="/split-profile/logout" routerDirection="root"
         routerLinkActive="active-link">
         <ion-icon src="assets/icon/logouticon.svg"></ion-icon>
          <ion-label>          
            Logout
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main">

  </ion-router-outlet>
</ion-split-pane> -->