<ion-header class="header">
    <ion-toolbar>
        <ion-buttons slot="start" class="ion-no-margin">
            <ion-back-button slot="start" color="primary" defaultHref="/order" text=""
                icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-no-padding">{{'orderhistory' | language : 'Order History'}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <ion-item class="search-box" lines="none" animated="true" show-cancel-button="focus" border-radius="10vh"> -->
    <!-- <ion-searchbar animated noEmoticons color="white" type="text" mode="md" id="myInput"
            (ionChange)="searchFunction()" [(ngModel)]="searchLang" placeholder="Search">
        </ion-searchbar> -->
    <ion-searchbar (ionChange)="searchFunction()" mode="ios" id="myInput" type="text" [(ngModel)]="searchLang"
        placeholder="Order ID or Customer Number"></ion-searchbar>
    <!-- </ion-item> -->
    <div class="top-view">
        <div class="container1">
            <div color="primary" mode="ios" outline="true" class="chiptab bg1"
                [ngClass]="statusSegment == 'COMPLETED' ? 'filterActive' : 'filterNotActive'"
                (click)="changeOrderSegment('COMPLETED')">
                <div class="container">
                    <!-- <img src="assets/images/doneall.svg" alt="icon" /> -->
                    <img *ngIf="statusSegment != 'COMPLETED'" src="/assets/images/doneall.svg" alt="icon" />
                    <img *ngIf="statusSegment == 'COMPLETED'" src="/assets/images/completed-active.svg" alt="icon" />
                    <ion-label class="chiptitle">{{'Completed' | language : 'Completed'}}</ion-label>
                </div>
            </div>
            <div color="primary" mode="ios" outline="true" class="chiptab bg2"
                [ngClass]="statusSegment == 'CANCELLED' ? 'filterActive' : 'filterNotActive'"
                (click)="changeOrderSegment('CANCELLED')">
                <div class="container">
                    <!-- <img src="assets/images/stop.svg" alt="icon" /> -->
                    <img *ngIf="statusSegment != 'CANCELLED'" src="/assets/images/stop.svg" alt="icon" />
                    <img *ngIf="statusSegment == 'CANCELLED'" src="/assets/images/cancelled-active.svg" alt="icon" />
                    <ion-label class="chiptitle">{{'Cancelled' | language : 'Cancelled'}}</ion-label>
                </div>
            </div>
            <div color="primary" mode="ios" outline="true" class="chiptab bg3"
                [ngClass]="statusSegment == 'REJECTED' ? 'filterActive' : 'filterNotActive'"
                (click)="changeOrderSegment('REJECTED')">
                <div class="container">
                    <!-- <img src="assets/images/cancel.svg" alt="icon" /> -->
                    <img *ngIf="statusSegment != 'REJECTED'" src="/assets/images/cancel.svg" alt="icon" />
                    <img *ngIf="statusSegment == 'REJECTED'" src="/assets/images/rejected-active.svg" alt="icon" />
                    <ion-label class="chiptitle">{{'Rejected ' | language : 'Rejected '}}</ion-label>
                </div>
            </div>
            <div color="primary" mode="ios" outline="true" class="chiptab bg4"
                [ngClass]="statusSegment == 'NO_SHOW' ? 'filterActive' : 'filterNotActive'"
                (click)="changeOrderSegment('NO_SHOW')">
                <div class="container">
                    <!-- <img src="assets/images/Box.svg" alt="icon" /> -->
                    <img *ngIf="statusSegment != 'NO_SHOW'" src="/assets/images/Box.svg" alt="icon" />
                    <img *ngIf="statusSegment == 'NO_SHOW'" src="/assets/images/no-show-active.svg" alt="icon" />
                    <ion-label class="chiptitle">{{'noshow' | language : 'No Show'}}</ion-label>
                </div>
            </div>
            <div color="primary" mode="ios" outline="true" class="chiptab bg5"
                [ngClass]="statusSegment == 'PAYMENT_PENDING' ? 'filterActive' : 'filterNotActive'"
                (click)="changeOrderSegment('PAYMENT_PENDING')">
                <div class="container">
                    <img *ngIf="statusSegment != 'PAYMENT_PENDING'" src="assets/images/pending_payment.svg"
                        alt="icon" />
                    <img *ngIf="statusSegment == 'PAYMENT_PENDING'" src="assets\images\payment_active.svg" alt="icon" />
                    <ion-label class="chiptitle">{{'pendingpayment' | language : 'Pending Payment'}}</ion-label>
                </div>
            </div>
        </div>
    </div>
    <ng-container>
        <div class="day-navbar">
            <p class="dayFilter" (click)="activeDay('All')" [ngClass]="{'filterActive': activeNav==='All'}">
                {{'all'|language:'All'}}</p>
            <p class="dayFilter" (click)="activeDay('Today')" [ngClass]="{'filterActive': activeNav==='Today'}">
                {{'today'|language:'Today'}}</p>
            <p class="dayFilter" (click)="activeDay('Yesterday')" [ngClass]="{'filterActive': activeNav==='Yesterday'}">
                {{'yesterday'|language:'Yesterday'}}</p>
            <div class="dateFilter" id="dateFilt" *ngIf="this.orderList?.data?.length != 0">
                <p>
                    <u>{{defaultDate  | date:'dd MM yyyy'}}</u>
                </p>
                <ion-modal trigger="dateFilt" handleBehavior="cycle" show-backdrop="false" side="end">
                    <ng-template>
                        <app-date-time-picker [isDisabled]="this.orderList?.data?.length == 0 ? true : false"
                            [value]="defaultDate" [date_format]="format" (datePickerValue)="activeDay($event)">
                        </app-date-time-picker>
                    </ng-template>
                </ion-modal>
                <ion-icon name="calendar-clear-outline"></ion-icon>
                <!-- <ion-icon *ngIf="defaultDate === date" name="calendar-clear"></ion-icon> -->
                <!-- <ion-icon name="calendar-clear-outline"></ion-icon>
                <ion-icon *ngIf="defaultDate === 'date'" name="calendar-clear"></ion-icon>
                <img *ngIf="activeNav === defaultDate" src="/assets/images/filled.svg" alt=""> -->
            </div>
        </div>
    </ng-container>

    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
        <ion-fab-button (click)="pullToRefresh($event)">
            <ion-icon name="reload-outline" color="light"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-row>
        <!-- <ion-col size="12" size-sm="6" size-md="4" size-lg="3" *ngFor="let order of ordersData">
            <div>
                <div class="cards">
                    <app-order-item [order]="order" [showButton]="false"></app-order-item>
                </div>
            </div>
        </ion-col> -->
        <ion-col size="12" size-sm="6" size-md="4" size-lg="3" *ngFor="let order of ordersData">
            <div class="card">
                <div class="orderDetails">
                    <p class="orderId" (click)="gotoOrderDetails(order)">{{'order' | language : 'Order #'}}:
                        {{order.orderID |
                        textTruncate : 11}} </p>
                    <div class="profile">
                        <ion-item lines="none">
                            <ion-thumbnail>
                                <img alt="profilePic" class="profilePic" *ngIf="order.userDetails.image != ''"
                                    src="{{order.userDetails.image}}">
                                <a href="tel:{{order?.userDetails?.phone}}"><img src="/assets/images/Group 7995.svg"
                                        alt="call-icon" class="callIcon"></a>
                            </ion-thumbnail>
                            <ion-label>
                                <div (click)="gotoOrderDetails(order)">
                                    <p class="stock">+91 {{order.userDetails.phone}}</p>
                                    <p class="name"> {{order?.userDetails?.name}}</p>
                                    <div class="location">
                                        <ion-icon name="location-outline"></ion-icon>
                                        <p class="address"
                                            title="Poornima College, , Sitapura, Sanganer Tehsil, Jaipur, Rajasthan, 302022, India">
                                            {{order?.delivery?.location?.address}}
                                        </p>
                                    </div>
                                    <div class="pickup">
                                        <img *ngIf="order?.delivery?.mode != 'PICKUP'" src="assets/images/truck.svg"
                                            alt="" srcset="" />
                                        <img *ngIf="order?.delivery?.mode == 'PICKUP'" src="assets/images/hand.svg"
                                            alt="" srcset="" />
                                        <p class="status">{{order?.delivery?.mode | lowercase}}</p>
                                    </div>
                                </div>
                            </ion-label>
                            <ion-label class="status-amount">
                                <div class="content">
                                    <span *ngIf="order.delivery.mode == 'PICKUP' && order.status == 'COMPLETED'">
                                        <img src="\assets\images\order_status\pickup completed.svg" alt="profilePic" class="" />
                                      </span>
                                      <span *ngIf="order.delivery.mode == 'PICKUP' && order.status == 'CANCELLED'">
                                        <img src="\assets\images\order_status\pickup cancelled.svg" alt="profilePic" class="" />
                                      </span>
                                      <span *ngIf="order.delivery.mode == 'PICKUP' && order.status == 'REJECTED'">
                                        <img src="\assets\images\order_status\pickup rejected.svg" alt="profilePic" class="" />
                                      </span>
                                      <span *ngIf="order.delivery.mode == 'DELIVERY' && order.status == 'COMPLETED'">
                                        <img src="\assets\images\order_status\delivery completed.svg" alt="profilePic" class="" />
                                      </span>
                                      <span *ngIf="order.delivery.mode == 'PICKUP' && order.status == 'NO_SHOW'">
                                        <img src="\assets\images\order_status\pickup no show.svg" alt="profilePic" class="" />
                                      </span>
                                      <span *ngIf="order.delivery.mode == 'PICKUP' && order.status == 'DELIVERED'">
                                        <img src="\assets\images\order_status\pickup payment pending.svg" alt="profilePic" class="" />
                                      </span>
                                      <span *ngIf="order.delivery.mode == 'DELIVERY' && order.status == 'CANCELLED'">
                                        <img src="\assets\images\order_status\delivery cancelled.svg" alt="profilePic" class="" />
                                      </span>
                                      <span *ngIf="order.delivery.mode == 'DELIVERY' && order.status == 'REJECTED'">
                                        <img src="\assets\images\order_status\delivery rejected.svg" alt="profilePic" class="" />
                                      </span>
                                      <span *ngIf="order.delivery.mode == 'DELIVERY' && order.status == 'NO_SHOW'">
                                        <img src="\assets\images\order_status\delivery no show.svg" alt="profilePic" class="" />
                                      </span>
                                      <span *ngIf="order.delivery.mode == 'DELIVERY' && order.status == 'DELIVERED'">
                                        <img src="\assets\images\order_status\delivery payment pending.svg" alt="profilePic" class="" />
                                      </span>
                                    <span class="amount">{{order.amount - (order.discount?order.discount:0) | currency:'INR':true :'0.0-2'}}</span>
                                </div>
                            </ion-label>
                        </ion-item>
                    </div>
                </div>
            </div>
        </ion-col>
    </ion-row>


</ion-content>
<!-- <ion-footer class="ion-no-border footer">
    <app-bottom-tab-view [tabsTextAvailable]="false"></app-bottom-tab-view>
</ion-footer> -->