ion-toolbar {
    display: flex;

    ion-title {
        font-size: 16px;
    }

    ion-icon {
        margin: auto 0;
        font-size: 6vw;
        padding: 0 0 0 3vw;
        color: var(--ion-color-dark-tint);
    }
}

ion-content {
    --background: #F8F9F9;
}

.container1::-webkit-scrollbar {
    display: none;
}

.chiptab {
    display: flex;
    flex-direction: row;
    text-align: center;

    img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }
}

.cards {
    margin: 2px;
}

.bg1 {
    border-radius: 10px;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.bg2 {
    border-radius: 10px;
    align-items: center;
    margin-right: 10px;
}

.bg3 {
    border-radius: 10px;
    align-items: center;
    margin-right: 10px;
}

.bg4 {
    border-radius: 10px;
    align-items: center;
    margin-right: 10px;
}

.bg5 {
    border-radius: 6px;
    align-items: center;
    margin-right: 10px;
}

.top-view {
    height: 40px;
    flex: 1;
    display: flex;
    overflow: auto;
}

.container1 {
    height: 30px;
    display: flex;
    flex-direction: row;
    overflow: auto;
    gap: 2%;
}

ion-fab-button {
    width: 40px;
    height: 40px;

    ion-icon {
        font-size: 22px;
    }
}

.container {
    display: flex;
    flex-direction: row;
    height: 40px;
    width: max-content;
    position: relative;
    justify-self: center;
    margin-top: 20px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: space-evenly;
    cursor: pointer;
}

ion-card {
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 10px;
}

ion-searchbar {
    //width: 100%;
    padding: 0px;
    --box-shadow: var(--background);
    --border-radius: 30px;
    margin-left: 10px;
    padding-right: 20px;
    height: 60px;
}

ion-segment-button {
    --indicator-color: #08a391;
}

/* Material Design styles */
ion-segment-button.md {
    --color: #000;
    --color-checked: #08a391;
    --indicator-height: 4px;
}

/* iOS styles */
ion-segment-button.ios {
    --color: #08a391;
    --color-checked: #fff;
    --border-radius: 20px;
}

.day-navbar {
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    margin: 8px 8px;
    font-weight: 450;
    cursor: pointer;

    .dayFilter {
        color: var(--ion-color-dark);
        padding: 6px 6px;
        margin: 0 6px 0 0;

        &.filterActive {
            color: #fff;
            background: var(--ion-color-primary);
            border-radius: 50px;
            padding: 6px 16px;
            font-weight: 550;
            height: 32px;
        }
    }

    .dateFilter {
        margin: auto 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #747474;
        background: white;
        border: 1px solid #d9d9d9;
        border-radius: 50px;
        padding: 4px 8px;

        p {
            margin: 0 !important;
        }

        ion-icon {
            color: black;
            margin: auto 0;
            margin-left: 1vw;
            font-size: 16px;
        }
    }
}

.filterActive {
    color: white;
    background: var(--ion-color-primary);
}

.filterNotActive {
    background: #F6F6F6;
    border-radius: 7px;
}

.footer {
    display: block;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    bottom: 0px;
    background-image: none;
    height: 51px;
    box-shadow: 0px 1px 10px 1px rgba(2, 27, 26, 0.1);
}

//New Card Design
.card {
    margin: 8px;
    padding: 8px 8px 0px;
    border: 0;
    background: #fff;

    .orderId {
        color: var(--ion-color-primary);
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 0px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .orderDetails {
        display: block;
    }

    .profile {
        display: flex;
        margin-bottom: 0px;
        align-items: center;

        ion-item {
            --padding-start: 0px;
            --padding-end: 0px;
            --inner-padding-end: 8px;
            align-items: flex-start;

            ion-thumbnail {
                --border-radius: 10px;
                position: relative;
                height: 70px;
                margin-right: 8px;
                max-height: 70px;
                min-height: 70px;

                a {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                }
            }

            .name {
                color: var(--ion-color-dark-tint);
                font-weight: 400;
            }

            .stock {
                font-weight: 500;
                font-size: 0.8rem;
                color: var(--ion-color-dark-tint);
            }

            .pickup {
                display: inline-flex;
                color: var(--ion-color-dark-tint);
                background: linear-gradient(90deg, rgba(16, 186, 178, 0.66) 0%, rgba(16, 186, 178, 0.09) 100%);
                border-radius: 2px 20px 20px 2px;
                width: 60%;
                padding: 0px 10px;
                margin: 0;
                align-items: center;
                height: 20px;

                img {
                    height: 14px;
                }

                .status {
                    margin-left: 8px;
                    text-transform: capitalize;
                }
            }

        }

        .status-amount {
            display: inherit;

            .content {
                display: flex;
                justify-content: flex-end;
                flex-direction: column;
                float: right;
                align-items: center;
                img
                {
                    margin: 25px 0;
                }
            }

            span.amount {
                float: right;
                font-weight: 600;
                font-size: 18px;
                color: var(--ion-color-dark);
                line-height: 18px;
                position: unset;
            }
        }


        .direction {
            margin: auto;
            width: 70px;
            cursor: pointer;
        }

        .location {
            display: flex;
            align-items: center;

            ion-icon {
                font-size: 20px;
                margin-right: 4px;
                color: var(--ion-color-dark-tint);
                width: 20px;
            }

            .address {
                font-size: 0.9rem;
                display: -webkit-box;
                // max-width: 56vw;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: normal;
                width: -webkit-fill-available;
            }
        }

    }
}