<ion-header>
  <ion-toolbar mode="md">
     <ion-buttons slot="start">
      <ion-back-button defaultHref="order"></ion-back-button>
    </ion-buttons>
    <ion-title class="title ion-text-center">Order Notification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="header">New</div>
  <ion-list>
    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <img src="https://ionicframework.com/docs/img/demos/avatar.svg">
      </ion-thumbnail>
      <ion-label>
        <strong class="order-id">Order #789456123 &nbsp; is Ready</strong>
      </ion-label> 
    </ion-item>
  </ion-list>
</ion-content>