.title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #222222;
}
.header {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #747474;
    padding-left: 10px;
    padding-top: 10px;
}

ion-item {
    --ion-item-background: linear-gradient(0deg, rgba(16, 186, 178, 0.08), rgba(16, 186, 178, 0.08)), #ffffff;
}

ion-thumbnail {
    img {
        border-radius: 20px;
    }
}

.order-id {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    color: #000000;
}
.order-status {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    color: #000000;
}
