<!-- <div class="CrossIcon" (click)="cancel()">
  <ion-icon name="close-outline"></ion-icon>
</div> -->

<ion-content>
  <div class="contents">
    <!-- <ion-icon class="backbt" name="chevron-back-outline" (click)="backToGradingPopup()"></ion-icon> -->
    <ion-title>{{'Preorderdiscount' | language : 'Pre-Order Discount'}}</ion-title>
    <div class="content">
      <img [src]="product?.image" alt="fruit" />
      <ion-label>{{product?.name}}</ion-label>
    </div>
    <div>
      <ion-label class="label">Pre Order Discount</ion-label>
      <ion-chip color="primary" mode="ios" outline="true" class="chipadd">
        <ion-icon name="remove-circle-outline" color="danger" (click)="changePrice('dec')"></ion-icon>
        <ion-input min="0" class="price" type="tel" placeholder="0" [(ngModel)]="product.discount" maxlength="3"
          (ionChange)="checkPrice($event)"></ion-input>
        <!-- <span class="prodDis">%</span> -->
        <ion-label class="prodDis">%</ion-label>
        <ion-icon name="add-circle-outline" (click)="changePrice('inc')" color="success"></ion-icon>
      </ion-chip>
    </div>
    <ion-button color="primary" expand="block" fill="solid" shape="round" mode="ios" (click)="saveProduct()">{{'save' |
      language : 'Save'}}</ion-button>
  </div>
</ion-content>