<div class="main-content p-4">


      <div class="card custom-card">
        <div class="card-body">

          <h5 class="mb-4">Retailer Details</h5>



          <div class="table-responsive ">
            <table class="table table-bordered mb-4" datatable [dtOptions]="dtoptions" [dtTrigger]="dtTrigger">
              <thead>
                <tr>
                  <th *ngFor="let item of retailerList" class="text-primary">{{item.name}}</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let item of retailerData; let i=index;" >
                  <td >{{i}}</td>
                  <td>{{item?.basicInformation?.personalDetails?.firstName}}</td>
                  <td>{{item.phone}}</td>
                  <td>{{item.retailerData?.lastLogin | date}}</td>
                  <td> <span class="badge bg-success">{{item.status}}</span></td>
                  <td class="link"><span  [routerLink]="['/shopDetails',item._id]" class="badge bg-secondary">View</span> </td>

                </tr>

              </tbody>
            </table>
          </div>





        </div>
      </div>







</div>
