div{
    text-align: center;
    position: relative;
}
.list{
    color: var(--ion-color-primary);
    font-size: 70px;;
}
.not{
    color: var(--ion-color-danger);
    font-size: 36px;
    top: 34px;
    position: absolute;
    right: 40%;
}
p{
    font-size: 20px;
    margin: 0px;
    color: var(--ion-color-primary);
}