<div class="contener ">
  <ion-img class="close-btn" src="../../../../assets/ReferrlImg/cross.svg"></ion-img>
  <p class="header">Item Status</p>

  <div class="btns">
    <ion-button shape="round" expand="full" fill="clear" class="available-button">Available</ion-button>
    <ion-button shape="round" expand="full" fill="clear" class="not-available-button">Not Available</ion-button>
  </div>
  <div class="btns">
    <ion-button shape="round" expand="full" fill="clear" class="return-button">Return</ion-button>
    <ion-button shape="round" expand="full" fill="clear" class="cancel-button">Cancel</ion-button>
  </div>
</div>