<div class="main-content p-4">
  <div class="card custom-card">
    <div class="card-body">

      <h5 class="mb-4">Retailer shop Details</h5>


      <div class="table-responsive ">
        <table class="table table-bordered mb-4">
          <thead>
            <tr>
              <th *ngFor="let item of retailershopList" class="text-primary">{{item.name}}</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let item of shopData; let i=index;" >
              <td>{{item.shop_id}}</td>
              <td>{{item.shop_name}}</td>
              <td>{{item.city}}</td>
              <td>{{item.shop_number}}</td>
              <td>{{item.landmark}}</td>
              <td>
                <span class="badge rounded-pill  bg-success" *ngIf="item.isKYCVerified ==true">{{item.isKYCVerified}}</span>
                <span class="badge rounded-pill  bg-danger" *ngIf="item.isKYCVerified ==false">{{item.isKYCVerified}}</span>
                <span class="badge rounded-pill  bg-danger" *ngIf="!item.isKYCVerified">Not done</span>

              </td>

              <td class="link"><span  [routerLink]="['/order-history']" class="badge bg-secondary">View</span> </td>
              <td class="link"><span (click)="navigate(this.retailerId)" class="badge bg-secondary">View</span> </td>

              <!-- <td> <span class="badge bg-success">{{item.status}}</span></td>
              <td class="link"><span  [routerLink]="['/shopDetails',item._id]" class="badge bg-secondary">View</span> </td> -->

            </tr>

          </tbody>
        </table>
      </div>


    </div>
  </div>
</div>


