<ion-header mode="md">
  <ion-toolbar>
    <ion-buttons slot="start" class="ion-no-margin">
      <ion-back-button slot="start" color="primary" defaultHref="/home" text=""
        icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-label>
      <ion-title class="ion-no-padding">{{'imSelling' | language : 'I\'m Selling'}}</ion-title>
    </ion-label>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher mode="ios" slot="fixed" (ionRefresh)="pullToRefresh($event)">
    <ion-refresher-content pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher>
  <ion-grid class="ion-padding">
      <ion-searchbar  animated color="light" type="text" mode="md" id="myInput" (ionChange)="searchFunction()"
      [(ngModel)]="searchLang" placeholder="{{'Searchbyfruitscategory' | language : 'Search by category'}}">
    </ion-searchbar>
        <ion-row >
          <ion-col size="4"   
            *ngFor="let category of searchLang?categories:masterCategoryArray" >
              <div class="ion-text-center">
                <ion-checkbox class="check"  id="{{category?.name}}" (click)="chooseCategory(category)"
                      [(ngModel)]="category.checked" mode="md"></ion-checkbox>
                    <div (click)="category.checked = !category.checked;chooseCategory(category)" >
                        <img [src]="category?.image"/>
                        <p  class="ion-text-center categoryName">{{category?.name}}</p>
                    </div>
                   
              </div>
          </ion-col>
        </ion-row>
      </ion-grid>
     
 
    </ion-content>
    <div> <ion-button shape="round" mode="ios" expand="block" color="primary" (click)="navigate()">{{'continue' | language : 'Continue'}}</ion-button></div>
    
  
