// *{
//   padding: 0;
//   margin: 0;
//   box-sizing: border-box;
// }
// ion-content{
// --background: radial-gradient(71.93% 47.42% at 50% 46.87%, #10BAB2 40.01%, #c2e8e6 98.05%);
// --background:  var(--ion-color-primary);
// }
ion-content {
  --background: var(--ion-color-secondary) 16%;
}
// .header{
//   ion-icon{
//     position: relative;
//     left: 4vw;
//     font-size: 7vw;
//     color: var(--ion-color-dark-tint);
//   }
// }

ion-back-button{
  color: var(--ion-color-dark-tint);
  margin-left: 10px;
  font-size: 4vw;
}

.clear{
  height: 50px;
  }
.thumbnail-pos {
  margin: auto;
}

ion-label{
  font-size: 13px;
}
ion-col {
  padding: 0%;

  &.long-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

ion-searchbar {
  width: 100%;
  margin-top: 10px;
  padding-left: 12%;
  padding-right: 12%;
  --box-shadow: var(--background);
  --border-radius: 30px;
}

.mic-icon {
  position: absolute;
  right: 15%;
  z-index: 5;
  zoom: 1.5;
}

ion-button {
  --background: var(--ion-color-primary);
  // --border-radius: 30px;
  --color: var(--ion-color-secondary-contrast);
  width: 84%;
  // bottom: 5vh;
  bottom: 1vh;
  // position: absolute;
  position: relative;
  margin-left: 8%;
  margin-right: 8%;
  height: 48px;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  z-index: 999;
  bottom: 0;
  position: fixed;
}

.stl-usr-lan-body {
  width: 100%;
  height: 100%;
  // padding-left: 5%;
  // padding-right: 5%;
}

.header {
  display: flex;

  ion-icon {
    margin: auto 0;
    font-size: 5vw;
    padding: 0 0 0 3vw;
    color: var(--ion-color-primary);
  }

  ion-title {
    font-size: 5.5vw;
    position: relative;
  }
}

ion-checkbox {
  --size: 15px;
  // --border-color: transparent !important;
  --background-checked: var(--ion-color-primary);
  margin: 0px 0px 0px auto !important;
}

ion-card {
  border-radius: 12px;
}

.title{
  margin-top: 5px;
  color: var(--ion-color-warning-contrast);
  text-overflow: unset !important;
}


.catagory-img{
   display: block;
  margin: 1rem auto .5rem;
  width: 25%;
}
