<ion-tabs *ngIf="tabsRootType == 'home'">
  <ion-tab-bar slot="bottom">
    <ion-tab-button layout="icon-top">
      <ion-icon src="../../assets/images/homeImg/512x512.svg" class="home"></ion-icon>
      <!-- <ion-label>Home</ion-label> -->
    </ion-tab-button>
    <ion-tab-button layout="icon-top" (click)="orderPageNavigation('order')">
      <ion-icon src="../../../assets/images/homeImg/shopping-bag.svg"></ion-icon>
      <ion-label>Orders</ion-label>
    </ion-tab-button>
    <ion-tab-button layout="icon-top" (click)="commonService.featureNotAvailable()">
      <ion-icon src="../../../assets/images/homeImg/bell.svg" ></ion-icon>
      <ion-label>Notification</ion-label>
    </ion-tab-button>
    <ion-tab-button layout="icon-top" (click)="commonService.featureNotAvailable()">
      <ion-icon src="../../../assets/images/homeImg/menu.svg"></ion-icon>
      <ion-label>Menu</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>


<ion-tabs *ngIf="tabsRootType == 'order'">
  <ion-tab-bar slot="bottom">
    <ion-tab-button layout="icon-top" [selected]="checkRouter === '/order' ? true : false" (click)="orderPageNavigation('home')">
      <ion-icon src="../../assets/images/homeImg/inactive.svg" class="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button layout="icon-top" (click)="commonService.featureNotAvailable()">
      <ion-icon  src="../../../../assets/icon/ic_inventory.svg"></ion-icon>
      <ion-label >Inventory</ion-label>
    </ion-tab-button>
    <ion-tab-button layout="icon-top" [selected]="checkRouter === '/order-history' ? true : false" (click)="orderPageNavigation('order-history')">
      <ion-icon src="../../../assets/images/homeImg/history.svg"></ion-icon>
      <ion-label>History</ion-label>
    </ion-tab-button>
    <ion-tab-button layout="icon-top" (click)="commonService.featureNotAvailable()">
      <ion-icon  src="../../../assets/images/homeImg/bell.svg"></ion-icon>
      <ion-label >Notification</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<ion-tabs *ngIf="tabsRootType == 'history'">
  <ion-tab-bar slot="bottom">
    <ion-tab-button layout="icon-top" [selected]="checkRouter === '/order' ? true : false" (click)="orderPageNavigation('home')">
      <ion-icon src="../../assets/images/homeImg/inactive.svg" class="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <!-- <ion-tab-button layout="icon-top" (click)="commonService.featureNotAvailable()">
      <ion-icon style="stroke: gainsboro;" src="../../../../assets/icon/ic_inventory.svg"></ion-icon>
      <ion-label style="color: gainsboro;">Inventory</ion-label>
    </ion-tab-button> -->
    <ion-tab-button layout="icon-top" [selected]="checkRouter === '/history' ? true : false" (click)="orderPageNavigation('order')">
      <ion-icon src="../../../assets/images/homeImg/shopping-bag.svg"></ion-icon>
      <ion-label>Active Orders</ion-label>
    </ion-tab-button>
    <ion-tab-button layout="icon-top" [selected]="checkRouter === '/order-history' ? true : false" (click)="orderPageNavigation('order-history')">
      <ion-icon src="../../../assets/images/homeImg/history.svg"></ion-icon>
      <ion-label>History</ion-label>
    </ion-tab-button>
    <ion-tab-button layout="icon-top" (click)="commonService.featureNotAvailable()">
      <ion-icon  src="../../../assets/images/homeImg/bell.svg"></ion-icon>
      <ion-label >Notification</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<ion-tabs *ngIf="tabsRootType == 'my-catalog'">
  <ion-tab-bar slot="bottom">
    <ion-tab-button layout="icon-top" [selected]="checkRouter === '/my-catalog' ? true : false" (click)="orderPageNavigation('home')">
      <ion-icon src="../../assets/images/homeImg/inactive.svg" class="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button layout="icon-top" (click)="orderPageNavigation('order')">
      <ion-icon src="../../../assets/images/homeImg/shopping-bag.svg"></ion-icon>
      <ion-label>Orders</ion-label>
    </ion-tab-button>
    <ion-tab-button layout="icon-top" (click)="commonService.featureNotAvailable()">
      <ion-icon src="../../../assets/images/homeImg/bell.svg" ></ion-icon>
      <ion-label>Notification</ion-label>
    </ion-tab-button>
    <ion-tab-button layout="icon-top">
      <ion-icon src="../../../assets/images/homeImg/menu.svg"></ion-icon>
      <ion-label>Menu</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>