ion-tabs {
    ion-tab-bar {
        /* --background: #f4f4f4; */

        border-radius: 20px 20px 0px 0px;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
        ion-tab-button {
            --color-selected: var(--ion-color-danger);
            ion-icon {
                width: 26px;
                height: 26px;

            }
            .home {
                width: 40px;
                height: 40px;
            }
            ion-label {
                margin-top: 7px;
                font-weight: 500;
                font-size: 10px;
                line-height: 11px;
                text-align: center;
                color: var(--ion-color-dark-tint);
            }
        }
        ion-tab-button.tab-selected {

            ion-icon,
            ion-label {
                color: var(--ion-color-primary-tint) !important;
                --ion-color-base: var(--ion-color-primary-tint) !important;
                fill: var(--ion-color-primary-tint);
                stroke: var(--ion-color-primary-tint);
            }
        }
    }
}