.img-circle{
  background-color: #F7BC0D;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.card{
      box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px, rgb(0 0 0 / 30%) 0px 1px 3px -1px;
  .card-body{
      padding: 2.5rem 1rem;

  h5{
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
  }
  p{
    font-weight: 500;
    font-size: 1.2rem;
  }

}

}


