<ion-content>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  class="button-native" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Track Order</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <div class="support">
          <img id="support-img" src="../../../../assets/bx_support.png" alt="Support" />
           <div id="support-text">support</div> 
        </div>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-refresher slot="fixed" (ionRefresh)="getOrder(id,$event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
<div class="complete-content">
  <div class="tracking-graphics">
<div class="tracking-list">
  
  <ul  *ngIf="status[order?.status] != 7">
      <li >
        <div class="item">
           <img src="../../../../assets/Track-order/bi_cart-check.svg" alt="" srcset=""> 
          <p>orderPlaced</p>
        </div>
            <div [ngClass]="status[order?.status] > 1 ? status[order?.status] == 8 ? 'cancelled' : 'completed' : 'remaining'"></div>
            <div [ngClass]="status[order?.status] > 1 ? status[order?.status] == 8 ? 'cancelled' : 'completed' : 'remaining'"></div>
            <div [ngClass]="status[order?.status] > 1 ? status[order?.status] == 8 ? 'cancelled' : 'completed' : 'remaining'"></div>
            <div [ngClass]="status[order?.status] > 1 ? status[order?.status] == 8 ? 'cancelled' : 'completed' : 'remaining'"></div>
          
         </li>
         <li *ngIf="status[order?.status] < 7">
            <div class="item">
              <img src="../../../../assets/Track-order/akar-icons_check-box.svg" alt="" srcset="">
              <p>{{'orderAccepted'}}</p>
            </div>
            <div [ngClass]="status[order?.status] > 2 ? 'completed' : 'remaining'"></div>
            <div [ngClass]="status[order?.status] > 2 ? 'completed' : 'remaining'"></div>
            <div [ngClass]="status[order?.status] > 2 ? 'completed' : 'remaining'"></div>
            <div [ngClass]="status[order?.status] > 2 ? 'completed' : 'remaining'"></div>
             </li>
             <li *ngIf="status[order?.status] == 8">
              <div class="item">
                <img src="../../../../assets/Track-order/akar-icons_check-box.svg" alt="" srcset="">
                <p>Order Rejected</p>
              </div>
            </li>
          <li *ngIf="status[order?.status] < 7">
                <div class="item">
                  <img src="../../../../assets/Track-order/mdi_truck-delivery-outline.svg" alt="" srcset="">
                  <p>processing</p>
            </div>
            <div [ngClass]="status[order?.status] > 3 ? 'completed' : 'remaining'"></div>
            <div [ngClass]="status[order?.status] > 3 ? 'completed' : 'remaining'"></div>
            <div [ngClass]="status[order?.status] > 3 ? 'completed' : 'remaining'"></div>
            <div [ngClass]="status[order?.status] > 3 ? 'completed' : 'remaining'"></div>
                 </li>
            <li *ngIf="status[order?.status] < 7">
                    <div class="item">
                      <img src="../../../../assets/Track-order/fluent_box-checkmark-24-regular.svg" alt="" srcset="">
                      <p>ready<span *ngIf="order?.delivery.mode == 'PICKUP'"> for pickup</span></p>
                    </div>
                    <div [ngClass]="status[order?.status] > 4 ? 'completed' : 'remaining'"></div>
                    <div [ngClass]="status[order?.status] > 4 ? 'completed' : 'remaining'"></div>
                    <div [ngClass]="status[order?.status] > 4 ? 'completed' : 'remaining'"></div>
                    <div [ngClass]="status[order?.status] > 4 ? 'completed' : 'remaining'"></div>
            </li>


            <li *ngIf="order?.delivery.mode != 'PICKUP' && status[order?.status] < 7" id="dispatched">
              <div id="dispatched-icon" style="width:100%">
                <div class="dispatch">
                  <div class="item">
                    <img src="../../../../assets/Track-order/mdi_truck-delivery-outline.svg" alt="" srcset="">
                    <p>dispatched (in transit)</p>
                  </div>
                  <div class="call-us" *ngIf="status[order?.status] == 5">
                    <div class="delivery_man">
                      <img src="/assets/Track-order/delivery man.svg" alt="" srcset="">
                    </div>
                    <div class="call-deliveryMan">
                      <button id="btn">{{'call'}}</button>
                      <img src="\assets\images\phone-call.png" alt="call-us" />
                    </div>
                  </div>
                </div>
                <div [ngClass]="status[order?.status] > 5 ? 'completed' : 'remaining'"></div>
                <div [ngClass]="status[order?.status] > 5 ? 'completed' : 'remaining'"></div>
                <div [ngClass]="status[order?.status] > 5 ? 'completed' : 'remaining'"></div>
                <div [ngClass]="status[order?.status] > 5 ? 'completed' : 'remaining'"></div>
              </div>
            </li>

            <li *ngIf="order?.delivery.mode == 'PICKUP' && status[order?.status] < 7">
              <div class="item">
                <img src="/assets/Track-order/icon-park-outline_delivery.svg" alt="" srcset="">
                <p>Picked Up</p>
              </div>
            </li>
            <li *ngIf="order?.delivery.mode != 'PICKUP' && status[order?.status] < 7">
              <div class="item">
                <img src="/assets/Track-order/Group.svg" alt="" />
                <p>delivered</p>
              </div>
            </li>
          </ul>
      <ul *ngIf="status[order?.status] == 7">
        <li id="order-placed">
          <div class="item">
            <img src="/assets/Track-order/bi_cart-check.svg" alt="" srcset="">
            <p>Order Cancelled</p>
          </div>
        </li>
      </ul>
</div>
</div>
</div>

  <ion-button style="margin-left: 16px;"  shape="round">Pay Now</ion-button> 
  <!-- <p class="payment" *ngIf="order?.payment.mode != 'POSTPAID'">Payment Done<ion-icon name="checkmark-circle-outline"></ion-icon></p> -->
  <p id="contact">{{'contactSeller'}}</p>
  <div class="seller-info">
    <div id="profile-pic">
      <img src="{{order?.seller?.image?order?.seller?.image:'https://cdn-icons-png.flaticon.com/512/1946/1946429.png'}}"  alt="profile-pic" />
    </div>
    <div id="text-info" >
      <div id="shop-owner">{{order?.seller?.name}}</div>
      <div id="shop-name">{{order?.shop?.name}}</div>
      <div id="shop-address">{{order?.shop?.address}}</div>
    </div>
    <div id="seller-call-icon">
      <a href="{{'tel:'+order?.seller?.phone}}">
        <img src="/assets/images/phone-call.png" alt="call-us" />
      </a>
    </div>
  </div>
  <div class="order-row" *ngIf="order?.instruction">
    <p id="text">{{'Instruction'}}</p>
    <p id="info">{{order?.instruction}}</p>
  </div> 
  <div class="instructions">
    <div [routerLink]="['/order-details/:id']">OrderSummary</div>
    
  
    <div *ngIf="!order?.instruction && status[order?.status] < 6">{{'addInstructions'}}</div>
  </div>

  <div class="active_order">
    <span>{{activeOrders}} {{'active-orders'}}</span>
    <p [routerLink]="['/active-orders']">{{'view'}}</p>
  </div> 
  </ion-content>
 
  <!-- <ion-footer>
    <div class="active_order">
      <span>{{activeOrders}} {{'active-orders'}}</span>
      <p [routerLink]="['/active-orders']">{{'view'}}</p>
    </div>
    
  </ion-footer> -->

  








   
       
      
 


  