<ion-content class="ion-padding">
  <ion-grid fixed>
    <ion-row class="ion-justify-content-center">
      <ion-buttons slot="start" class="ion-no-margin">
        <ion-back-button slot="start" color="primary" text="" icon="chevron-back-outline"></ion-back-button>
      </ion-buttons>
      <ion-col size="7" class="ion-align-items-center">
        
        <div class="profile">
        
          <img src="{{ userProfileURL }}" class="profile_img" />
          <div class="camera" (click)="presentActionSheet()">
            <ion-icon color="light" name="camera-outline"></ion-icon>
          </div>
        </div> 
        <form (ngSubmit)="f.valid && addUserDetails()" #f="ngForm">
          <ion-item fill="outline" mode="md" shape="round">
            <ion-label position="floating">{{'name'|language:'Name'}}</ion-label>
            <ion-input type="text" [(ngModel)]="form.basicInformation.personalDetails.firstName" #fullName="ngModel" name="fullName" required></ion-input>
            <ion-note slot="error" *ngIf="f.submitted && fullName.invalid">{{'invalidName'|language:'Invalid Name'}}</ion-note>
          </ion-item>
          <ion-item fill="outline" mode="md" disabled shape="round">
            <ion-label position="floating">{{'mobileNumber'|language:'Mobile Number'}}</ion-label>
            <ion-input pattern="^[0-9]{10}$" maxlength="10" type="tel" [(ngModel)]="form.basicInformation.personalDetails.mobileNumber"  #mobileNumber="ngModel" name="mobileNumber" required></ion-input>
          </ion-item>
          <ion-item fill="outline" mode="md" shape="round">
            <ion-label position="floating">{{'AlternateMobileNumber' | language:'Alternate Mobile Number'}}</ion-label>
            <ion-input pattern="^[0-9]{10}$" maxlength="10" type="tel" [(ngModel)]="form.basicInformation.personalDetails.secondaryMobileNumber" #altMobileNumber="ngModel" name="altMobileNumber"></ion-input>
            <ion-note slot="error" *ngIf="f.submitted && altMobileNumber.invalid">{{'invalidNumber'|language:'Invalid Number'}}</ion-note>
          </ion-item>
          <ion-item fill="outline" mode="md" shape="round">
            <ion-label position="floating">{{'AboutMe'|language:'About Me'}}</ion-label>
            <ion-textarea [(ngModel)]="form.basicInformation.personalDetails.aboutUs" #aboutUs="ngModel" name="About"></ion-textarea>
          </ion-item>
          <div class="ion-text-center">
            <ion-button type="submit" shape="round" color="primary" expand="block" mode="ios">{{'saveChanges'|language:'Save Changes'}}</ion-button>
          </div>
        </form>
      </ion-col> 
    </ion-row>
  </ion-grid>
</ion-content>