<div class="main-content p-4">


  <div class="card custom-card">
    <div class="card-body">

      <h5 class="mb-4">Shop Orders</h5>



      <div class="table-responsive ">
        <table class="table table-bordered mb-4" datatable [dtOptions]="dtoptions" [dtTrigger]="dtTrigger">
          <thead>
            <tr>
              <th *ngFor="let item of shopOrders" class="text-primary">{{item.name}}</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let item of shopOrderData; let i=index;" >
              <td >{{i}}</td>
              <td>{{item.orderID}}</td>
              <td> RS. {{item.amount}}</td>
              <td>{{item.totalItems}}</td>
              <td>{{item.userDetails.phone}}</td>
              <td>{{item.delivery.deliveryDate | date}}</td>
              <td>{{item.delivery.location.address}}</td>
              <td> <span *ngIf="item.payment.paid ==false" class="badge rounded-pill bg-danger">{{item.payment.paid}}</span>
                <span *ngIf="item.payment.paid ==true" class="badge rounded-pill bg-success">{{item.payment.paid}}</span>
              </td>
              <td>{{item.deliveryBoy.name}} | {{item.deliveryBoy.phone}}</td>
              <td class="link"><span  [routerLink]="['/order-details',item.orderID]" class="badge bg-secondary">View</span> </td>

            </tr>

          </tbody>
        </table>
      </div>





    </div>
  </div>







</div>



