<div class="main-content p-4">
    <div class="card custom-card">
        <div class="card-body">
            <h4 class="title">Bulk Upload</h4>
            <div class="container">
                <form style="display: flex;flex-direction: column;">
                    <div class="row" class="form-group">
                        <div class="col-25">
                            <input #file type="file" name="file" (change)="chooseFile($event)"
                                accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
                        </div>
                        <div class="col-75">
                            <button type="submit" class="btn btn-info submit" (click)="bulkUpload()">
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>













</div>