.submit {
    background: #9fdde9;
    border: none;
}

.container {
    border-radius: 5px;
    position: relative;
    padding: 18px;
}

.col-25 {
    // margin-top: 3px;
    // float: left;
    // width: 25%;
    // margin-top: 6px;
}

.col-75 {
    // float: left;
    width: 75%;
    margin-top: 13px;
    margin-left: -9px;
}

input[type=file]::-webkit-file-upload-button {
    cursor: pointer;

}

.title {
    text-align: center;
}


@media screen and (max-width: 600px) {

    .col-25,
    .col-75,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}