ion-header ion-toolbar
{
  --background: #fff;
}
ion-item {
  --border-radius: 60px;
  --background: #f1f1f1;
  --min-height: 50px;
  --inner-padding-start: 0px;
  margin: 0;
  ion-input
  {
    --padding-start: 16px;
    font-size: 1rem;
  }
}
p
{
  margin: 0;
}
ion-text {
  color: var(--ion-color-dark-tint);
  text-align: center;
}
.logo {
  margin-top: 70px;
}
ion-button {
  margin: 0;
  text-align: center;
  text-transform: capitalize;
  width: auto;
  height: 48px;
  &[disabled] {
    --background: #b8acac;
  }
}
.placeh {
  flex: .2 !important;
  font-size: small;
  font-weight: bold;
}
.verticalLine {
  width:1%;
  height:50px;
  background:white;
  position: relative;
}
.mob {
  margin: 0 !important;
  flex: 5 !important;
}
.img {
  height: 140px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  flex-direction: column;
  height: 450px;
  justify-content: space-evenly;
}
.terms {
  margin-top: -20px;
  font-size: 10px;
  padding: 8px 16px;
}
a
{
  color: var(--ion-color-primary) !important;
}
.login-bg
{
  margin-left: 4%;
}