* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  // body{
  //   height: 100vh;
  //   width: 100vw;
  // }
  
  // .header{
  //   display: flex;
  //   ion-icon{
  //     font-size: 7vw;
  //     margin: auto;
  //     padding-left: 3vw;
  //   }
  // }
  
  // ion-title{
  //   text-align: center;
  //   font-size: 7vw;
  //   position: relative;
  //   left: -4vw;
  //   font-weight: 500;
  // }
  
  // #heading{
  //   margin: 7vw 4vw;
  //   font-size: 6vw;
  //   font-weight: 500;
  // }
  
  // .location-setting{
  //   margin: 4vw 4vw;
  // }
  
  // .location{
  //   display: flex;
  //   justify-content: space-between;
  //   padding-bottom: 3vw;
  //   font-size: 5vw;
  //   font-weight: 500;
  //   ion-toggle{
  //     margin-right: 4vw;
  //   }
  // }
  
  // .notification-setting{
  //   margin: 7vw 4vw;
  // }
  
  // .notification{
  //   display: flex;
  //   justify-content: space-between;
  //   padding-bottom: 3vw;
  //   font-size: 5vw;
  //   font-weight: 500;
  //   ion-toggle{
  //     margin-right: 4vw;
  //   }
  // }
  
  // .detail{
  //   font-size: 4vw;
  //   font-weight: 400;
  // }
  ion-back-button{
    position: relative;
  left: 5vw;
  font-size: 4vw;
  color: var(--ion-color-dark-tint);
  }
  ion-card {
  
    display: flex;
    align-items: center;
    margin: 20px 0px 5px 16px;
    box-shadow: none;
    
    ion-img {
      width: 24px;
      height: 24px;
    }
    .change {
  
      margin-left: 10px;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #4F5052;
    }
  }
  
  .txt{
       
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #4F5052;
    margin-left: 16px;
  }