
<div class="container">

  <div class="row">
    <div class="col-xxl-3 col-xl-3 col-md-12">
      <h2 class="py-4">Shops-Data</h2>

      <h5 class="py-4">Gave either to filter</h5>

    </div>
  </div>
  <div class="row">
    <div class="col-xxl-9 col-xl-9 col-md-12 ">
  <form [formGroup]="shopDataGroup">
    <div class="form-group row">
      <label for="shop_id" class="col-sm-1 col-form-label">Shop Id</label>
      <div class="col-sm-3">
        <input type="text" class="form-control"  formControlName="shop_id">
      </div>
     
    </div>
    <br>
    <div class="form-group row">
      <label  for="city" class="col-sm-1 col-form-label">City</label>
      <div class="col-sm-3">
        <input type="text"  class="form-control"  formControlName="city">
      </div>
    </div>
    <br>
    <div class="form-group row">
      <label  for="pincode" class="col-sm-1 col-form-label">Pincode</label>
      <div class="col-sm-3">
        <input type="text"  class="form-control"  formControlName="pincode">
      </div>
    </div>
    <br>
    <div class="form-group row">
      <label  for="mobile" class="col-sm-1 col-form-label">Mobile Number</label>
      <div class="col-sm-3">
        <input type="text"  class="form-control"  formControlName="mobile">
      </div>
    </div>
    <br>
  <small style="color: red;" *ngIf="isNotData">*Please fill one of the above fields</small>
    <div class="form-group row">
      <div class="col-sm-6 offset-sm-4">
        <button style="margin-left: 20px;" type="reset" class="btn btn-outline-success"   (click)="callShopDataApi()">Submit</button>
        <button style="margin-left: 20px;" type="reset" class="btn btn-outline-primary"  (click)="Reset()">Reset</button>
      </div>
    </div>
  </form>
    </div></div>
    <div class="row">
      <div class="col-12">
        <div *ngIf="isDataShowed">
          <div style="display: inline-block" class="form-group mb-4">
            <input
              style="width: 200px"
              class="form-control"
              type="text"
              [(ngModel)]="searchText"
              placeholder="Search"
            />
          </div>
          <table
            class="table"
            style="margin-right: 50px;"
            *ngIf="(shopData | filter: searchText).length > 0; else noResults"
          >
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Shop Id</th>
                <th scope="col">Shop Name</th>
                <th scope="col">isSubscribed</th>
                <th>Edit</th>
                <th>View</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let data of shopData
                    | filter: searchText
                    | paginate
                      : {
                          itemsPerPage: 10,
                          currentPage: page,
                          totalItems: count
                        };
                  let i = index
                "
              >
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ data.shop_id }}</td>
                <td>{{ data.shop_name }}</td>
                <td>{{ data.isSubscribed?"true":"false" }}</td>
        
                <td>
                  <i
                    class="fas fa-edit"
                    style="cursor: pointer; margin-left: 8px;"
                    *ngIf="data.isSubscribed"
                    [routerLink]="['/edit-shop-data', data.shop_id]"
                  ></i>
                </td>
                <td>
                  <button type="button" class="btn btn-sm btn-outline-success"
                  [routerLink]="['/view-shop-details', data.shop_id]">
                    View
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <ng-template #noResults>
            <p>No results found for "{{ searchText }}".</p>
          </ng-template>
          <div class="d-flex justify-content-center">
            <pagination-controls
              previousLabel="Prev"
              nextLabel="Next"
              (pageChange)="onTableDataChange($event)"
            >
            </pagination-controls>
          </div>
        </div>
      </div>
    </div>
<br>


