<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" (click)="onBack()">
            <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
        <ion-title>{{'membership' | language : 'Membership Plan'}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
   <ion-grid>
    <ion-row>
        <ion-col class="ion-padding">
            <ion-card class="card1">
                <div class="item1">
                    <div class="sameline">
                        <h3>&#8377;799</h3>
                        
                        <div class="priceAc">
                            <p  class="pricept">&#8377;399<ion-text id="gst"> +{{'gst18' | language : 'GST(18%)'}}</ion-text></p>  
                            <ion-icon src="../../../../assets/images/homeImg/offer-tag.svg" slot="end"></ion-icon>
                        </div> 
                    </div>
                         <p class="month">{{'PerMonth' | language : 'Per Month'}}</p>
                     
                         <p class="basic">{{'Basic' | language : 'BASIC'}}</p>           
        
                    <hr />
                </div>
        <div class="lists" style="width: 100%;display: flex;justify-content: center;">
            <!-- <ion-list-group class="checkmarks"> -->
<div class="checkmarks">
                <ion-list class="tagss">
                    <!-- <ion-icon src="" name="checkmark-outline" class="iconcheck" color="success"></ion-icon> -->
                    <ion-icon slot="start" src="./assets/icon/checkmark.svg" id="icon1"></ion-icon>
                    <ion-text>{{'Onlineshopspace' | language : 'Online Shop space'}}</ion-text>
                </ion-list>
                <ion-list class="tagss">
                    <ion-icon slot="start" src="./assets/icon/checkmark.svg" id="icon2"></ion-icon>
                    <ion-text>  {{'Sell/purchase ' | language : 'Sell/Purchase'}} </ion-text>
                </ion-list>
                <ion-list class="tagss">
                    <ion-icon slot="start" src="./assets/icon/checkmark.svg" id="icon3"></ion-icon>
                    <ion-text>  {{'Creditmanagement' | language : 'Credit Management'}} </ion-text>
                </ion-list>
                <ion-list class="tagss">
                    <ion-icon slot="start" src="./assets/icon/checkmark.svg" id="icon4"></ion-icon>
                    <ion-text>  {{'Owndelivery ' | language : 'Own Delivery'}} </ion-text>
                </ion-list>
                <ion-list class="tagss">
                    <ion-icon slot="start" src="./assets/icon/checkmark.svg" id="icon5"></ion-icon>
                    <ion-text> {{'Onlinepayment ' | language : 'Online Payment'}}  </ion-text>
                </ion-list>
                <ion-list class="tagss">
                    <ion-icon slot="start" src="./assets/icon/checkmark.svg" id="icon6"></ion-icon>
                    <ion-text>  {{'cataloguemanagement' | language : 'Catalogue Management'}} </ion-text>
                </ion-list>
                <ion-list class="tagss">
                    <ion-icon slot="start" src="./assets/icon/checkmark.svg" id="icon7"></ion-icon>
                    <ion-text>  {{'PerOrderManagement ' | language : 'Pre Order Management'}}</ion-text>
                </ion-list>
                <ion-list class="tagss">
                    <ion-icon slot="start" src="./assets/icon/checkmark.svg" id="icon8"></ion-icon>
                    <ion-text>{{'Managecustomers ' | language : 'Manage Customers'}}</ion-text>
                </ion-list>
            </div>       
<!-- </ion-list-group> -->
        </div>
                
<div class="btn-two">

    <ion-button class="buy-btn" (click)="createSubscription()" expand="block" shape="round">  {{'BuyNow ' | language : 'Buy now'}}</ion-button>
    <ion-button fill="clear" class="skip" expand="block"  routerLink="/home">{{'skip' | language : 'Skip'}} </ion-button>
</div>
    </ion-card>
        </ion-col>
    </ion-row>
   </ion-grid>
   
</ion-content>
               
           
            <!-- <ion-list class="btns"> -->
                <!-- <ion-button class="buybtn"  (click)="createSubscription()" expand="block" shape="round">
                    {{'BuyNow ' | language : 'Buy now'}}
                </ion-button>
                <ion-button  *ngIf="isModal"  fill="clear" expand="block"  (click)="closeModal()">
                    {{'skip' | language : 'Skip'}}
                </ion-button> -->
       
