<app-header></app-header>
<ion-header mode="md" class="ion-hide">
    <ion-toolbar>
      <ion-buttons slot="start" class="ion-no-margin">
        <ion-back-button slot="start" color="primary" defaultHref="/home" text="" icon="chevron-back-outline"></ion-back-button>
      </ion-buttons>
      <ion-title *ngIf="!showSearch" class="ion-no-padding">{{'My catalog ' | language : 'My Catalog'}}</ion-title>
      <!-- <ion-searchbar [debounce]="500" show-clear-button="focus" placeholder="Search" mode="ios" id="myInput" [hidden]="!showSearch" #search></ion-searchbar> -->
      <ion-buttons slot="end" class="buttons">
        <ion-button *ngIf="!showSearch" (click)="toggleSearch(true)" [ngClass]="!from ? 'search-button' : ''">
          <ion-icon color="primary" name="search-outline" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button *ngIf="showSearch" (click)="toggleSearch(false)">
          <ion-icon color="primary" name="close-outline" slot="end"></ion-icon>
        </ion-button>
        <ion-button size="large" *ngIf="!from && !showSearch" (click)="onAdd()">
          <ion-icon class="ion-no-margin" size="large" color="primary" name="add-circle" slot="end"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <!-- <ion-progress-bar type="indeterminate" *ngIf="commonService.isLoading"></ion-progress-bar> -->
  </ion-header>
  <ion-content class="customContainer bg-light">    
    <ion-refresher mode="ios" slot="fixed">
      <ion-refresher-content pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing..."></ion-refresher-content>
    </ion-refresher>
    <!-- Sub Header START -->
    <ion-grid class="subHeader">
      <ion-row class="ion-justify-content-around ion-align-items-center">
          <ion-col size="12" size-sm="4" size-md="4" size-lg="4">
            <ion-toolbar mode="md">
                  <ion-buttons slot="start">
                      <ion-back-button></ion-back-button>
                  </ion-buttons>
                  <ion-title class="page-title" slot="start">My Catalog</ion-title>
              </ion-toolbar>
          </ion-col>
          <ion-col size="12" size-sm="4" size-md="4" size-lg="4">
              <ion-searchbar [debounce]="500" search-icon="search-outline" id="myInput" mode="md"
                  show-clear-button="focus" placeholder="Search Categories, Products" #search></ion-searchbar>

          </ion-col>
          <ion-col size="12" size-sm="4" size-md="4" size-lg="4">
              <ion-item lines="none" class="ion-float-right addCatalog">
                  <ion-fab-button class="ion-fab-button" slot="end" size="small" (click)="onAdd()">
                      <ion-icon name="add"></ion-icon>
                  </ion-fab-button>
              </ion-item>
          </ion-col>
      </ion-row>
  </ion-grid>

  <!-- Sub Header END -->
    <div class="filterSegment">
      <ion-segment value="all" [scrollable]="true" mode="md" class="custom">
        <ion-segment-button value="all" (click)="updateProductList('all')">{{'all' | language : 'All'}}</ion-segment-button>
        <ion-segment-button value="pending" (click)="updateProductList('pending')">{{'pending' | language : 'Pending'}}</ion-segment-button>
        <ion-segment-button value="unpublished" (click)="updateProductList('unpublished')">{{'Unpublished ' | language : 'Unpublished '}}</ion-segment-button>
        <ion-segment-button value="published" (click)="updateProductList('published')">{{'published' | language : 'Published'}}</ion-segment-button>
      </ion-segment>
      </div>
    <div class="content">
      <ion-row>
        <ion-col size="9" size-sm="9" size-md="10" size-lg="11">
          <ion-segment [(ngModel)]="selectTabs" scrollable="true" mode="md" (ionChange)="segmentChanged()">
            <ion-segment-button [value]="i" *ngFor="let category of getProductDataFromBackend;let i = index">
              <ion-label style="text-transform: none;">{{category?.name}}</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
        <ion-col size="3" size-sm="3" size-md="2" size-lg="1">
          <ion-item color="transparent" class="selectAll ion-no-padding text-center" mode="ios" lines="none" *ngIf="productStatus==='unpublished' || productStatus==='published'">
            <a *ngIf="(productStatus == 'unpublished' || 'published') && isSelectAllOrClear()" class="all" (click)="selectAllProducts()">
              {{'Select all' | language : 'Select all'}}</a>
            <a *ngIf="(productStatus == 'unpublished' || 'published') && !isSelectAllOrClear()" class="clear" (click)="clearAllProducts()">
              {{'clear' | language : 'Clear'}}</a>
          </ion-item>
        </ion-col>
      </ion-row>
      <ng-container *ngIf="productStatus!=='all'">
        <ion-row>
          <ng-container *ngFor="let catalog of categoryProducts">
            <!-- In categories the 0th index will be all product listing which we are sending tin api from select food screen -->
            <ng-container
              *ngFor="let product of filter_product_array(catalog.categories[0].products,productStatus) ; let i = index">
              <ion-col size="6" size-sm="6" size-md="3" size-lg="2">
                <div *ngIf="search.value ? product.name.toLowerCase().includes(search.value.toLowerCase()) : true">
                  <app-product-card [allTab]="false" [product]="product" [search]="search" [productStatus]="productStatus"
                    (favEventChangeDetails)="changeDetails(product)" (favEvenOpenGradingPopUp)="openGradingPopUp(product)"
                    (favEventOpenPricePopUp)="openPricePopUp(product)"
                    (favEventOpenDiscountPopUp)="openDiscountPopUp(product)"
                    (favEventOnSelectProduct)="onSelectProduct(product.id, productStatus)"></app-product-card>
                </div>
              </ion-col>
            </ng-container>
          </ng-container>
        </ion-row>
      </ng-container>
  
      <ng-container *ngIf="productStatus==='all'">
        <!-- <ion-accordion-group style="width: 100%">
          <ion-accordion *ngFor="let type of productsType">
            <ion-item slot="header" color="light">
              <ion-label style="text-align: left;">{{type | titlecase}}</ion-label>
            </ion-item> -->
            <div class="ion-no-padding" slot="content">
              <ion-row>
                <ng-container>
                <ng-container *ngFor="let catalog of categoryProducts" class="prod-div">
                  <ng-container *ngFor="let product of catalog?.categories[0]?.products">
                    <ion-col size="6" size-sm="6" size-md="3" size-lg="2" *ngIf="search.value ? product.name.toLowerCase().includes(search.value.toLowerCase()) : true">
                      <app-product-card [product]="product" [search]="search" [productStatus]="productStatus" (favEventChangeDetails)="changeDetails(product)" (favEvenOpenGradingPopUp)="openGradingPopUp(product)" (favEventOpenPricePopUp)="openPricePopUp(product)" (favEventOpenDiscountPopUp)="openDiscountPopUp(product)"></app-product-card>
                    </ion-col>
                  </ng-container>
                </ng-container>
              </ng-container>
              </ion-row>
            </div>
          <!-- </ion-accordion>
        </ion-accordion-group> -->
      </ng-container>
      
  
    </div>
  </ion-content>
  <ion-footer>
    <ion-button *ngIf="productStatus==='unpublished'" expand="block" color="warning" shape="round" mode="ios" [disabled]="!unpublishProducts.length" (click)="updateProduct('',true); clearProductCount()">
      {{'publish' | language : 'Publish'}} ({{unpublishProducts.length}})</ion-button>
    <ion-button *ngIf="productStatus==='published'" expand="block" color="warning" shape="round" mode="ios" [disabled]="!publishProducts.length" (click)="updateProduct('',true); clearProductCount()">
      {{'unpublish' | language : 'Unpublish'}} ({{publishProducts.length}})</ion-button>
  </ion-footer>