.filterSegment {
  ion-segment.custom {
    ion-segment-button {
      --background-checked: var(--ion-color-primary);
      --color: var(--ion-color-medium);
      --color-checked: #fff;
      --border-radius: 6px;
      --indicator-height: 0px;
      box-shadow: 0px 1px 10px 1px rgba(2, 27, 26, 0.06);
      margin: 12px 6px;
      min-height: 30px;
      max-width: max-content;
      text-transform: capitalize;
    }
  }
}


ion-item {
  &.selectAll {
    float: right;
    a {
      text-decoration: none;
      cursor: pointer;
      text-align: right;
      @media (max-width: 768px) {
        font-size: 14px;
      }
      &.all
      {
        color: var(--ion-color-primary);
      }
      &.clear
      {
        color: var(--ion-color-warning);
      }
    }
  }

}

.button1 {
  // width: 90%;
  // padding: 10px;
  // margin-right: 4%;
  // margin-bottom: 57px;
  // --background: var(--ion-color-warning)
}

.buttons .search-button {
  margin-right: -20px;
}

.segment {
  overflow-x: scroll;
  display: flex;
  color: var(--ion-color-success);

  .category {
    margin-left: 3vw;
  }
}

// .content {
//   height: 100vh;
//   overflow-y: scroll;
//   background: #f8f9f9;
// }

// below lines added by KUndan 
.prod-div {
  display: flex;
  flex-wrap: wrap;
}