body {
  font-family: 'Roboto', sans-serif !important;
  background-image: url('./images/bg-img.jpg');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  overflow-x: hidden;
}

.text-globall {
  font-family: 'Roboto', sans-serif !important;

}

h1 {
  font-family: 'Roboto', sans-serif !important;
  /* color: #4CB966!important; */
}

a {
  font-family: 'Roboto', sans-serif !important;
}

.header-img-style {

  height: 620px !important;
}

.btn-radius {
  border-radius: 20px !important;
}

.download-btn-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  /* font-size: 14px!important;
  padding: 12px; */
  /* font-size: 14px; */
  line-height: 20px;
  /* padding-left:16px !important;
  padding-right: 16px!important; */
  /* identical to box height, or 143% */
  color: #FFFFFF;
  /* Inside auto layout */
}

p {
  text-align: justify;
}

p.h4 {
  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  /* or 130% */

  letter-spacing: 0.015em;

  color: #333333;
}

.text-break {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  /* or 200% */

  letter-spacing: 0.015em;

  color: #777777;
}

.text-story {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  /* or 200% */

  letter-spacing: 0.015em;

  color: #777777;
}

.icon-con {
  position: absolute;
  top: -30px;
  left: 17px;
  height: 59.95px;
  width: 59.95px;
}

.icon-con-3 {
  position: absolute;
  top: -40px;
  left: 17px;
  height: 59.95px;
  width: 59.95px;
}

.margin-left-style {
  margin-left: auto !important;
}

.space-con {
  margin-left: 20px !important;
}

.contact-us-section {
  background-color: #222222;
  width: 100%;
  border-top-left-radius: 30px;
  padding-top: 20px;
  border-top-right-radius: 30px;
}

.contact-us-description {
  /* perishable food segment. */

  font-family: Helvetica, Sans-Serif;
  font-style: normal;
  font-weight: 500;
  /* font-size: 20px; */
  /* line-height: 40px; */
  /* or 200% */
  color: rgba(255, 255, 255, 0.9);
}

.social-media-icons {
  display: flex;
  /* justify-content: space-around; */
}

svg {
  margin-right: 30px;
}

.all-sections {

  font-family: Helvetica, Sans-Serif;
  font-style: normal;
  font-weight: 400;
  /* font-size: 14px; */
  letter-spacing: 0.02em;

  color: rgba(255, 255, 255, 0.95);

}

.business-text {

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  /* font-size: 20px; */
  letter-spacing: 0.02em;

  color: rgba(255, 255, 255, 0.95);

}

.what-we-are-about-text {
  font-family: Helvetica, Sans-Serif;
  font-style: normal;
  font-weight: 700;
  /* font-size: 36px; */
  /* line-height: 80px; */
  /* or 222% */

  /* display: flex; */
  align-items: center;
  text-align: center;
  /* letter-spacing: 0.015em; */

  /* Text */

  color: #222222;

}

.out-story-text {

  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  /* or 130% */

  letter-spacing: 0.015em;

  color: #333333;

}

/* .our-story-discription-text
  {
  
  font-family: Helvetica, Sans-Serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 40px;
  
  letter-spacing: 0.015em;
  
  
  
  color: #222222;
  
  } */
.leaders-card-linkdin-section3 {
  margin-left: 12%;
  position: relative;

}

.leaders-card-linkdin-section2 {
  margin-left: 22%;
  position: relative;
}

.leaders-card-linkdin-section {
  margin-left: 10%;
  position: relative;
}

.linkdin-icon {
  height: 2rem;
  position: absolute;
  bottom: 42%;
}

.copy-rights {
  display: flex;
  justify-content: space-between;
  /* width: 90%; */

  color: #FFFFFF;
}

/* Let Our Software Do Work Text And Images */

.software-do-work {
  /* height: 210px;
    width: 278px; */
  width: 100%;
  /* font-size: 16px; */
  height: auto;
  justify-content: right
}

.software-work {
  position: absolute;
  top: -50px;
  left: 100px;
  height: 90.95px;
  width: 90.95px;
}

.software-do-work {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  /* font-size: 14px; */
  color: #4cb966;
}

.imgS {
  height: 100px;
  width: 33px;
}

.team-mem-name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */
  letter-spacing: 0.015em;

  color: #000000;
}

.meet-team {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  /* font-size: 32px; */
  line-height: 50px;
  /* identical to box height, or 156% */

  letter-spacing: 0.02em;

  /* Text */

  color: #222222;

}



.img-car {
  /* height: 304px;
  width: 60%;
  margin:0px auto; */
  width: 60%;
  height: 450px !important;
  ;
  margin-bottom: 40px !important;
  /* height: ; */
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px auto;
}

/* ------------- */
.home-screen-carosel-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  /* font-size: 36px; */
  /* line-height: 80px; */
  /* or 222% */
  letter-spacing: 0.015em;
  /* Text */
  color: #222222;
}

.navBarclick {
  border-bottom: 3.5px solid black;
}

.navabr-img-style {
  width: 200px;
  height: 56.15px;
}

a:link {
  text-decoration: none;
}

@media screen and (max-width: 920px) and (min-width: 481px) {
  #about-footer1 {
    width: 100%;
    text-align: center !important;
    padding-left: 39% !important;
  }

  #about-footer2 {
    width: 100%;
    text-align: center !important;
    padding-left: 42% !important;
  }
  .navbar{
    background-color: #FFFFFF;
  }
  
 
}

@media only screen and (max-width: 480px) {
  .chain2 {
    font-size: 25px;
  }

  .para2 {
    font-size: 18px;
    text-align: justify;
  }

  #about-footer1 {
    width: 100%;
    text-align: center !important;
   padding-left: 25% !important;
  }

  #about-footer2 {
    width: 100%;
    text-align: center !important;
    padding-left: 30% !important;
  }

  .bg-image {
    height: 50vh;
  }

  /* .hero-image {
  background-image: url('./images/bg-image.jpg');

 height: 50vh;

} */
  ::-webkit-scrollbar {
    display: none;
  }
.navbar{
  background-color: #FFFFFF;
}

.img-collage img{
  margin-top: 16%;
}

}

.desc {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  /* or 200% */

  letter-spacing: 0.015em;

  color: #777777;
}

#about-footer1 {
  padding-left: 12%;
  text-align: center;
}

#about-footer2 {
  text-align: center;
  padding-left: 28%;
}

/* new about us screen */
.img-collage::-webkit-scrollbar {
  display: none;
}
.img-fluid{
  width: 100%;
  height: auto;
}

.img-collage {
  /* height: 250px;
  overflow-y: scroll; */
  box-shadow: 8px 8px 48px rgba(0, 0, 0, 0.25);
  /* cursor: all-scroll; */
 border-radius: 15px;
 
}
.hero-text{
  margin-top: 10%;
}

.hero-text h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.02em;

}

.hero-text p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.015em;
}

.hero-image {
  margin: 12% 0;
}

.navbar {
  background: transparent !important;
  transition: 0.5s ease-in;
}

.navbar.scrolled {
  background: #FFFFFF !important;
}
@media (max-width: 767px)
{
  .navbar{
    background: #FFFFFF !important;
  }
  .img-collage img{
    margin-top: 16%;
  }
  .teamMembers {
   margin-top: 0;
}
}
@media (max-width: 912px)
{
  .navbar{
    background: #FFFFFF !important;
  }
  .teamMembers {
    margin-top: 0;
 }
  
}

.img-collage::-webkit-scrollbar{
  display: none;
} 
.teamMembers{
  margin-top: 25%;
}