.form-container{
    width: 100%;
   
    /* height: 100%; */
    background:  #FFFFFF;
    display: flex;
    /* align-items: center; */
    justify-content: center;
  }
  .form{
    background: white;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 100%;

    max-width: 600px;
    border-radius: 20px;
    
  }
  .form h3{
    font-family: 'Fredoka';
    font-weight: 700;
font-size: 24px;
line-height: 32px;
   
    margin-bottom: 20px;
  }
  .form p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
margin-bottom: 20px;
  }
  .form h5{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 20px;
margin-bottom: 20px;
  }
  .form input,.form textarea{
    border: 0;
    outline: none;
    margin: 10px 0;
    padding: 20px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), #4CB966;
    border-radius: 10px;
    font-size: 16px;

  }
  /* .form label[type="checkbox"]{
    width: 40px;
    height: 40px;
  } */
  .form button{
    padding: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #4CB966;
    background: #FFFFFF;
border: 1px solid #4CB966;
border-radius: 30px;
  
  
    outline: none;
    cursor: pointer;
   
   margin: 10px 0px;
   
    
  }
  nav{
    background-color: #FFFFFF !important;
  }