body
{
  font-family: 'Roboto',sans-serif!important;
  /* font-family: 'Roboto'; */
  /* color: #4CB966!important; */

}
p
{
  font-family: 'Roboto',sans-serif!important;
  /* color: #4CB966!important; */
}
button
{
  font-family: 'Roboto',sans-serif!important;
}
h1
{
  font-family: 'Roboto',sans-serif!important;
  /* color: #4CB966!important; */
}
.text-globall
{
  font-family: 'Roboto',sans-serif!important;

}
a{
  font-family: 'Roboto',sans-serif!important;
}
.card-title-style
{
  font-family: Helvetica, Sans-Serif;
  font-style: normal;
  font-weight: 600;
  /* font-size: 16px; */
  line-height: 32px;
  color: #222222;
}
.green-part{ 
  
  aspect-ratio : 1 / 0.8;
  width:41%;
  position:absolute;
  right:0;
  top:0;
  background-color:#4CB966;
  z-index: 1;
}
.nav-bar-item-col
{
  font-family: 'Roboto'!important;
  font-style: normal!important;
  font-weight: 500!important;
  /* font-size: 18px!important; */

  /* Text */
  color: #222222!important;
}
.btn-radius
{
  border-radius: 20px!important;
}
.download-btn-text
{
  
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
/* font-size: 14px; */
/* line-height: 20px; */
/* padding-left:16px !important;
padding-right: 16px!important; */
/* identical to box height, or 143% */
color: #FFFFFF;
/* Inside auto layout */
}
.why-u-choose-us-card-title
{
font-family:Helvetica, Sans-Serif;
/* font-style: normal; */
font-weight: 600;
/* font-size: 19px; */
line-height: 30px;
/* identical to box height, or 150% */
text-align: center;
letter-spacing: 0.02em;
color: #222222;

}
.card
{
  position: relative;
  height: 100%;
  /* min-height: 240px; */
}
.icon-con
{
  position:absolute;
  top:-30px;
  left:17px;
  height: 59.95px;
  width: 59.95px;
}

.how-it-work
{
  position:absolute;
  top:10px;
  left:17px;
  height: 50.95px;
  width: 50.95px;
}


.why-u-choose-us-paragraph
{
/* content 1 */
  font-family: Helvetica, Sans-Serif;
  font-style: normal;
  /* text-align: center; */
  font-weight: 400;
  /* font-size: 16px!important; */
  color: #222222;

}
.why-u-choose-us-title
{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
/* font-size: 20px!important; */
/* line-height: 50px; */
/* identical to box height, or 119% */
letter-spacing: 0.02em;
/* Text */
color: #222222;

}
.for-farmer-context
{
  Font-family: Helvetica, Sans-Serif;
  font-style: normal;
  font-weight: 700;
  /* font-size: 30px; */
  line-height: 50px;
  /* identical to box height, or 119% */
  /* Text */
  color: #222222;
}

.for-farmer-discription
{
  font-family: Helvetica, Sans-Serif;
font-style: normal;
font-weight: 400;
/* font-size: 1.6vw; */
/* line-height: 48px; */
/* or 200% */
color: #222222;
}
.icon-con-3

{
  position:absolute;
  top:-40px;
  left:17px;
  height: 59.95px;
  width: 59.95px;
}

.margin-left-style
{
  margin-left: auto!important;
}

.space-con
{
  margin-left: 20px!important;
}

.contact-us-section
{
  background-color: #222222;
  width: 100%;
  border-top-left-radius: 30px;
  padding-top: 20px;
  border-top-right-radius: 30px;
}

.contact-us-description
{
  /* perishable food segment. */

font-family: Helvetica, Sans-Serif;
font-style: normal;
font-weight: 500;
/* font-size: 20px; */
/* line-height: 40px; */
/* or 200% */
color: rgba(255, 255, 255, 0.9);
}

.social-media-icons
{
  display:flex;
  /* justify-content: space-around; */
}

svg
{
  margin-right: 30px;
}

.all-sections
{ 
font-family: Helvetica, Sans-Serif;
font-style: normal;
font-weight: 400;
/* font-size: 14px; */
letter-spacing: 0.02em;
color: rgba(255, 255, 255, 0.95);
}

.business-text
{
font-family: Helvetica, Sans-Serif;
font-style: normal;
font-weight: 500;
/* font-size: 20px; */
letter-spacing: 0.02em;
color: rgba(255, 255, 255, 0.95);
}

.green-part-2{ 
  aspect-ratio : 1 / 0.8;
  width:43%;
  /* height: 50vh; */
  position:absolute;
  right:0;
  top:0;
  background-color:#4CB966;
  z-index: 1;
}

.home-screen-carosel-text
{
    font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  /* font-size: 36px; */
  /* line-height: 80px; */
  /* or 222% */
  letter-spacing: 0.015em;
  /* Text */
  color: #222222;
}

.center-flex
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.how-it-work-text
{
  font-family: 'Roboto';
font-style: normal;
font-weight: 700;
/* font-size: 42px; */
line-height: 50px;
/* identical to box height, or 119% */
letter-spacing: 0.02em;
/* Text */
color: #222222;

}
.footer
{
  height: 100vh;
  display:flex;
  flex-direction:column;
  justify-content:flex-end ;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#94c6dc
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color: #4CB966;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}

/* Bottom to Top Scroller Button */

#scrollToTopBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.container-bg {
  background: #4CB9660F;
}
/* .ff
{
  font-size: 20px;

} */

.kkk
{
  display: flex;
  justify-content: space-between;
}
.indicators-sty
{
  background-color:#4CB966!important;
  height: 2.7px!important;
}
.for-former-img
{
  width:65%;height:270px;margin-left: -25px;
  /* position: absolute; */
  /* left:20%; */
  position: absolute;top:47%;left: 3%;
}
.footer-links-margin
{
  margin-left: 3%;
}
.apps-container
{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
/* font-size: 20px; */
line-height: 24px;
/* identical to box height, or 120% */
display: flex;
/* justify-content: center; */
/* left: 18%; */
/* position: relative */
justify-content: center;
/* margin-left: 21%; */
margin-top: 19px!important;
/* text-align: center; */
/* align-items: center; */
color: rgba(255, 255, 255, 0.8);

}
.apps-container-mob
{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
/* font-size: 19px; */
/* line-height: 24px; */
/* identical to box height, or 120% */
margin-top: 19px!important;
color: rgba(255, 255, 255, 0.8);

}
.copy-right
{
  
  display: flex;
  justify-content: space-between;
}
.imgS
{
  width: 36px;
  height: 36px;
}
.margin-style
{
  margin-left: 5%;
}
.mail-section
{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
/* font-size: 14px; */
line-height: 24px;
/* identical to box height, or 171% */
display: flex;
justify-content: center;
/* margin-left: 35%; */
/* align-items: center; */
letter-spacing: 0.02em;
margin-top:1px;
color: rgba(255, 255, 255, 0.95);

}
.header-img-style
{

  height: 620px!important;
}
.car-img
{
  height: 30px;
  width: 40px;
}
/* .text-size
{
  font-size: 16px;
} */
#t1:hover
{
  background-color: #4CB966;
}
#t2:hover
{

  background-color: #4CB966;
}
.navabr-img-style
{
  width:200px;
  height:56.15px ;
}
.shadow-for-card
{
  border: none !important;;
  box-shadow: 0px 1px 24px rgba(0, 0, 0, 0.06);
}
#t3:hover
{
  background-color: #4CB966;
}
.btn-for-apps
{
  width: 182px;
  height: 50px;
  /* padding: 20px; */
  padding-left:0px ;
  position: absolute;
  top: 340px;
  left:22%;
  /* text-align: center!important; */
  /* left:30p; */
  background-color: transparent;
  border-radius: 30px;
  border: 2px solid #222222;

}
.btn-for-apps-mobile
{
  width: 182px;
  height: 50px;
  position: absolute;
  top:270px;
  /* top:0px; */
  left:37%;
  padding-left:0px ;
  background-color: transparent;
  border-radius: 30px;
  border: 2px solid #222222;

}
.how-does-it-work-card-mobile
{
  height: 400px;
  position: relative;
}
.align-flex
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}
.app-text
{
  
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
/* font-size: 16px; */
/* identical to box height, or 312% */
letter-spacing: 0.02em;

color: #222222;

}
.btn-try-now
{
padding: 7px 32px;
gap: 10px;
/* 2 */
border: 0px;
color: white;
background: #E39A0D;
border-radius: 30px;
}
.try-now-btn-margin
{
  margin-left: 21%;
  padding: 5px;
}
.img-car
{
  /* height: 304px;
  width: 60%;
  margin:0px auto; */
  width: 60%;
  height:450px;
  margin-bottom: 40px!important;
  /* height: ; */
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px auto;
}
.mail-section-mob
{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
/* font-size: 19px; */
line-height: 24px;
/* identical to box height, or 171% */
/* margin-left: 35%; */
/* align-items: center; */
letter-spacing: 0.02em;
/* margin-top:1px; */
color: rgba(255, 255, 255, 0.95);

}
.mail-margin
{
  margin-left: 3%;
}
.navBarclick
{
  border-bottom:3.5px solid black;
}
.how-does-it-work-card
{
  height: 407px;
  position: relative;
}
a:link { text-decoration: none; }
@media only screen and (max-width: laptop)
{
/* 
   .why-u-choose-us-paragraph 
   {
    font-size: 50px;
   } */
   
}
.nav-bar-item-col
{
  font-family: 'Roboto'!important;
  font-style: normal!important;
  font-weight: 500!important;
  font-size: 18px!important;
  /* Text */
  color: #222222!important;
}