  body
  {
    font-family: 'Roboto',sans-serif!important;
    /* font-family: 'Roboto'; */

  }
  nav{
    background-color: #FFFFFF !important;
  }
  .text-globall
  {
    font-family: 'Roboto',sans-serif!important;

  }
  .bg-invest
  {
    height: 555px;
    background-image:url('images/Invest-2.svg');
    /* width: 800%!important; */
    /* background-attachment: fixed; */
    /* background-size: cover; */
    /* width: 100vw; */
    background-repeat:no-repeat;
    background-size:contain;
    background-position:bottom;
    /* margin-bottom : -100%; */
    /* margin: 0px auto!important; */
  }

h1
{
  font-family: 'Fredoka';
  /* font-family: 'Roboto',sans-serif!important; */
  /* color: #4CB966!important; */
}
  a
  {
    /* font-family: 'Roboto',sans-serif!important; */
  }
  .nav-bar-item-col
  {
    font-family: 'Roboto'!important;
    font-style: normal!important;
    font-weight: 500!important;
    /* font-size: 18px!important; */
    /* Text */
    color: #222222!important;
  
  }
  
p.h4
{
  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  /* or 130% */
  
  letter-spacing: 0.015em;
  
  color: #333333;
}
.invest-mob-para
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-family: 'Roboto';
    /* margin-bottom: -399px; */
    position: relative;
    bottom:-70px;
    z-index:10;
    margin-bottom: 0px;
    /* font-size: 20px; */
    line-height: 50px;
    color: #333333;

}
.mobileVersionGraph
{
  width: 100%;
  margin-top: 0px!important;
  height: 500.89px;
}
.invest-para
{
  position: absolute;top:20%;width:50%;
  /* font-size:20px; */

  left:10%;
  text-align: left!important;
}
  .btn-radius
  {
    border-radius: 20px!important;
  }
  .header-img-style
  {

    height: 620px!important;
  }
  .download-btn-text
  {
    
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  /* font-size: 14px; */
  line-height: 20px;
  /* padding-left:16px !important;
  padding-right: 16px!important; */
  /* identical to box height, or 143% */
  color: #FFFFFF;
  /* Inside auto layout */
  }
  
  
  .icon-con
  {
    position:absolute;
    top:-30px;
    left:17px;
    height: 59.95px;
    width: 59.95px;
  }
  /* .invest-screen-carosel-text
  {
      font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;
    
    letter-spacing: 0.015em;
    
    color: #222222;
  } */
  
  .icon-con-3
  {
    position:absolute;
    top:-40px;
    left:17px;
    height: 59.95px;
    width: 59.95px;
  }
  .margin-left-style
  {
    margin-left: auto!important;
  }
  .space-con
  {
    margin-left: 20px!important;
  }
  .contact-us-section
  {
    background-color: #222222;
    width: 100%;
    border-top-left-radius: 30px;
    padding-top: 20px;
    border-top-right-radius: 30px;
  }
  .contact-us-description
  {
    /* perishable food segment. */
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  /* font-size: 20px; */
  /* line-height: 40px; */
  /* or 200% */
  color: rgba(255, 255, 255, 0.9);
  }
  .social-media-icons
  {
    display:flex;
    /* justify-content: space-around; */
  }
  svg
  {
    margin-right: 30px;
  }
  .all-sections
  {
    
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  /* font-size: 14px; */
  letter-spacing: 0.02em;
  
  color: rgba(255, 255, 255, 0.95);
  
  }
  .business-text
  {
    
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  /* font-size: 20px; */
  letter-spacing: 0.02em;
  
  color: rgba(255, 255, 255, 0.95);
  
  }
  .navBarclick
{
  border-bottom:3.5px solid black;
}
.navabr-img-style
{
  width:200px;
  height:56.15px ;
}
a:link { text-decoration: none; }
  
.food{
  font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    /* or 200% */
    width: 100% !important;
    letter-spacing: 0.015em;
    
    color: #777777;
}
@media screen and (max-width: 920px) and (min-width: 481px) {
  #invest-footer1{
    width: 100%;
    text-align: center !important;
   padding: 0% !important;
    
  }
  #invest-footer2{
    width: 100%;
    text-align: center !important;
   padding: 0% !important;
    
  }
  .food{
    width: 70% !important;
  }
}
@media only screen and (max-width: 480px) {
  .food{
    width: 100% !important;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 200% */
    text-align: justify;
    letter-spacing: 0.015em;
    margin-top: 20px;
    color: #777777; 
  }
  p.h4
{
  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 27px;
  /* or 130% */
  text-align: center;
  letter-spacing: 0.015em;
  
  color: #333333;
}
#invest-footer1{
  width: 100%;
  text-align: center !important;
 padding: 0% !important;
  
}
#invest-footer2{
  width: 100%;
  text-align: center !important;
 padding: 0% !important;
  
}
}

#invest-footer1{
  padding-right: 16%;
  text-align: center;
}
#invest-footer2{
padding-left: 28%;
}