<div style="display: flex;justify-content: space-between;align-items: center;">
	<div>
		Show
		<select [(ngModel)]="itemsPerPage" (change)="onPageChange()" style="padding-top: 0.25rem;padding-bottom: 0.25rem;padding-left: 0.5rem;font-size: 0.875rem;border-radius: 0.25rem;">
			<option [value]="10">10</option>	
			<option [value]="20">20</option>	
			<option [value]="50">50</option>	
			<option [value]="100">100</option>	
		</select>
		entries
	</div>
	<div style="display: flex;justify-content: right;align-items: center;">
		<button class="btn btn-primary" (click)="prev()"><span>&#8249;</span></button>
		<p style="margin: 0px 5px;border: 1px solid #ddd;padding: 5px 10px;border-radius: 5px;">{{pageNo}}</p>
		<span>of</span>
		<p style="margin: 0px 5px;border: 1px solid #ddd;padding: 5px 10px;border-radius: 5px;">{{totalPageCount}}</p>
		<button class="btn btn-primary" (click)="next()"><span>&#8250;</span></button>
	</div>
</div>