.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 20px 20px 0px 0px;

  // height: 90% !important;
  ion-title {
    margin: 10px 0;
    color: #222222;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    padding: 0;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 8px;

  img {
    height: 165px;
  }
}

.more-input {
  width: 100%;
  height: 10vw;
}

.product-lab {
  margin: 15px 0;
  color: #222222;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.box {
  border: 1px solid rgba(125, 124, 131, 0.4);
  border-radius: 6px;
  margin: 0;
  padding: 4px;
  width: auto;

  img {
    background: transparent;
  }
}

.active {
  background: #C7FAF7;
}

.mere-order-labl {
  position: absolute;
  margin-bottom: -2vw;
  margin-left: 4vw;
  background-color: #fbfbfb;
  background: #fbfbfb;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
}

.item-content {
  margin-left: 8px;
  font-size: 14px;
}


//   .price {
//     width: 50px;
//     text-align: center;
//     padding: 0 5px;
//   }

//   .moq{
//     text-align: center;
//     width: 270px;
//     text-align: center;
//   }

.chipadd {
  width: -webkit-fill-available;
  height: 40px;
  border-radius: 50px;
  margin: 0px 8px;

}

.mere-otp {
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
}

.item {
  align-items: center;
  display: inline-flex;
  margin-bottom: 0;
  padding: 0px 16px;
}

// .label{
//     width: 80%;
//     color:#222222;
//     font-size: 12px;
//     text-align: left;
// }

.CrossIcon {
  height: 48px;
  width: 48px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  border-radius: 100%;
  background: #fbfbfb;
}

// .prodDis {
//   left: -44px !important;
//   position: relative !important;
//   padding-left: 10px;
// }

.backbt {
  color: var(--ion-color-primary);
  margin-top: 10px;
  position: absolute;
  float: left;
  left: 8px;
  top: 5px;
}

ion-button {
  width: -webkit-fill-available;
  margin: 8px 16px;
  font-weight: 600;
  letter-spacing: 1px;
}

ion-input {
  text-align: center;
}