ion-content {
    // --background: linear-gradient(180deg, rgb(255, 255, 255) 2.13%, var(--ion-color-primary) 73.25%);
    --background: #fff;
}

ion-back-button {
    position: relative;
    left: 4vw;
    font-size: 4vw;
    color: var(--ion-color-dark-tint);
}

// body//////////
.stl-usr-lan-body {
    width: 100%;
    height: 100%;
    padding: 0 5%;

    @media (min-width: 992px) {
        padding: 0 2.5%;
    }
}

ion-grid {
    padding: 0%;
}

ion-col {
    ion-card {
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 6px;
        box-shadow: none;
        height: auto !important;
        min-width: 80% !important;
        text-align: center;

        @media (min-width: 992px) {
            margin: 16px;
        }

        ion-card-header {
            padding: 8px;
        }

        ion-card-content {
            font-weight: 400;
            font-size: 1rem;
            line-height: 18px;
            letter-spacing: 0.015em;
        }

        ion-card-title {
            font-size: 20px;
            line-height: 23px;

            h1 {
                font-weight: 600;
            }
        }
    }

    padding: 0%;

    &.long-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

ion-searchbar {
    width: 100%;
    padding: 0 8px;
    --box-shadow: var(--background);
    --border-radius: 50px;

    @media (min-width: 992px) {
        width: 80%;
        margin: 0 auto;
    }
}

ion-footer {
    padding: 16px;

    @media (min-width: 992px) {
        padding: 8px 32px;
    }

    ion-toolbar {
        --background: #fff;
        text-align: end;

        @media (max-width: 767px) {
            padding: 0;
            text-align: center;
        }

        ion-button {
            text-transform: capitalize;
            height: 48px;
            font-weight: 600;
            font-size: 16px;
            letter-spacing: 0.0125em;
        }
    }
}