<ion-header mode="md">
  <ion-toolbar class="header">
    <ion-img slot="start" class="logo" src="/assets/image/retailerlogo.png" [routerLink]="['/home']"></ion-img>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon size="large" slot="icon-only" color="primary" name="bag-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon size="large" slot="icon-only" color="primary" name="notifications-outline"></ion-icon>
      </ion-button>
      <ion-button routerLink="/profile">
        <ion-icon size="large" slot="icon-only" color="primary" name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>