ion-toolbar {
    display: flex;
    ion-title {
        font-weight: bold;
        font-size: 18px;
        justify-content: center;
        place-content: center;
    }
    ion-icon {
        margin: auto 0;
        font-size: 5vw;
        padding: 0 0 0 3vw;
        color: #08908c;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    text-align: center;
    ion-title {
        font-size: 6vw;
        color: #222222;
        font-weight: 600;
    }
    ion-icon {
        margin: auto 3vw;
        font-size: 5.5vw;
        color: #08908c;
    }
    img {
        margin: auto 4vw;
        height: 6vw;
    }
}

.orderDetails {
    margin: 4vw 2vw;
}

.orderId {
    color: #10bab2;
    font-size: 4vw;
    font-weight: 600;
    margin-bottom: 4px;
}

.profile {
    display: flex;
    margin-bottom: 10px;
    // border: 1px solid red;
}

.img {
    height: 25vw;
    width: 20vw;
    .profilePic {
        height: 25vw;
        width: 20vw;
        z-index: -1;
    }
    .profileTxt{
        height: 25vw;
        width: 20vw;
        z-index: -1;
        background: #E8E8E8;
        border-radius: 10px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        color: #555555;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
    }
    .callIcon {
        z-index: 1;
        position: relative;
        bottom: 7vw;
        left: 14vw;
        height: 6vw;
    }
}

.info {
    height: 25vw;
    margin-left: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #464646;
    font-size: 3.5vw;
}

.name {
    color: #4f5052;
    font-size: 4vw;
    font-weight: 550;
}

.location {
    display: flex;
    ion-icon {
        font-size: 3.5vw;
        color: #464646;
    }
}

.review {
    display: flex;
}

.ratings {
    margin-left: 2vw;
    display: flex;
    ion-icon {
        font-size: 3.5vw;
        color: #ffa534;
    }
}

.box {
    display: inline-block;
}

.pickup {
    display: flex;
    background: linear-gradient(90deg, rgba(16, 186, 178, 0.66) 0%, rgba(16, 186, 178, 0.09) 100%);
    border-radius: 5px 2px;
    width: 25vw;
    padding: 0.5vw;
    position: relative;
    // left: 7.5vw;
    img {
        height: 4vw;
        margin: auto 2vw;
    }
}

.amount {
    color: #107c48;
    font-weight: 600;
}

.btns {
    margin: 0 3vw;
    margin-top: 3vw;
    display: flex;
    justify-content: space-between;
}

.reject {
    width: 46%;
    --color: #10bab2;
    --border-color: #10bab2;
    --border-width: 1px;
    --border-style: solid;
    text-transform: none;
}

.accept {
    width: 46%;
    --color: white;
    --background: #10bab2;
    text-transform: none;
}

.not-allowed {
    cursor: not-allowed;
    pointer-events: all;
}

.accept-full {
    width: 100%;
    height: 36px;
    --color: white;
    --background: #10bab2;
    text-transform: none;
    &__pending {
        --background: gray;
    }
}

.orderSummary {
    margin: 3vw;
}

.heading {
    color: #4f5052;
    font-size: 5.5vw;
    font-weight: 400;
}

.container {
    border-bottom: 1px solid rgba(153, 153, 153, 0.33);
    padding-bottom: 3vw;
}

.completeOrderInfo {
    display: flex;
    margin-top: 3vw;
    color: #4f5052;
    font-size: 4.5vw;
    .product-img{
        width: 36px;
        height: 36px;
        filter: drop-shadow(1px 1px 1px rgba(51, 51, 51, 0.25));
        border-radius: 5px;
    }
    .weight {
        color: #666666;
    }
}

.quantity {
    margin: 0 5vw;
}

.totalPrice {
    position: absolute;
    right: 5vw;
}

.status{
    font-variant-caps: all-petite-caps;
}

.bill {
    margin: 2vw 3vw;
    display: flex;
    justify-content: space-between;
    color: #4f5052;
    font-size: 5.5vw;
}

.instructions-view{
    font-family: 'Poppins';
    font-style: normal;
    margin: 16px;
    padding: 10px;
    align-items: center;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #333333;
    border-radius: 10px;
    background: linear-gradient(0deg, rgba(16, 186, 178, 0.06), rgba(16, 186, 178, 0.06)), #FFFFFF;
    
    .instruct-title{
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        color: #333333;
    }
    .instruct-detials{
        font-weight: 400;
        font-size: 12px;
        line-height: 24px;
    }
}

.picker-view {
    margin-bottom: 10px;
        .picker-img {
            height: 34px;
            width: 34px;
            --border-radius: 4px;
        }
        ion-label{
        padding-left: 10px;
        .picker-title{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            color: #464646;
        }
        .picker-name{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 18px;
            color: #222222;
        }
    }
    .callIcon {
        width: 25px;
        height: 28px;
    }
    
}
.time-slot{
    padding-left: 16px;
    .slot-title{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 22px;
        color: #464646;
    }
    .slot-time{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        padding-left: 8px;
        color: #10BAB2;
    }
}