<div class="crossIcon" (click)="cancel()">
  <ion-icon name="close-outline"></ion-icon>
</div>
<ion-content>
  <div class="contents">
    <ion-title>Selling Price</ion-title>

    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="3.6" class="schedule-time">
          <ion-label class="schedule-time-text">Today</ion-label>
        </ion-col>
        <ion-col size="3.6" class="schedule-time">
          <ion-label class="schedule-time-text">Tomorrow</ion-label>
        </ion-col>
        <ion-col size="3.6" class="schedule-time">
          <ion-label class="schedule-time-text">24th May</ion-label>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="3.6" class="schedule-time">
          <ion-label class="schedule-time-text">25th May</ion-label>
        </ion-col>
        <ion-col size="3.6" class="schedule-time">
          <ion-label class="schedule-time-text">26th May</ion-label>
        </ion-col>
        <ion-col size="3.6" class="schedule-time" (click)="scheduleCalendar()">
          <ion-label class="schedule-time-text">More</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>