
ion-img {
  margin: auto;
}
h3{
  font-size: 20px;
  margin-left: 9px;
}
ion-col {
  text-align: center;
}
ion-icon {
  color: #10bab2;
  font-size: 20px;
}
p{
  font-size: 15px;
}

.img {
  height: 70px;
  width: 70px;
  margin: 15px auto;
  display: flex;
  background: #fcfcfc;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 3px rgba(51, 51, 51, 0.25);
  border-radius: 100%;
  
}
.imgs {
  filter: grayscale(90%);
}
p{
  font-size: 14px;
  line-height: 20px;

}
ion-item{
  margin:0 4vw;
}