ion-chip {
    margin-left: 2vw;
    padding: 10px;
    height: 18px;
    --color: var( --ion-color-dark);
    background:linear-gradient(0deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), #0AC511;;
    font-size: 10px;
}

.orderDetails {
    margin: 0 8px;
}

.orderId {
    color: var(--ion-color-primary);
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 4px;
}

.profile {
    // display: flex;
    margin-bottom: -18px;
    // border: 1px solid red;
}

.stock {
    font-weight: bold;
}

.img {
    height: 95px;
    width: 75px;
    position: relative;

    .profileTxt {
        height: 25vw;
        width: 20vw;
        z-index: -1;
        background: #E8E8E8;
        border-radius: 10px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        color: #555555;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
    }

    .callIcon {
        z-index: 1;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

.info {
    min-width: auto;
    height: auto;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #464646;
    font-size: 1rem;
}

.name {
    color: #4f5052;
    font-weight: 500;
    font-size: 3.8vw;
    margin-left: 1vw;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.location {
    display: flex;

    ion-icon {
        font-size: 3.8vw;
        color: #464646;
        margin-top: 1.8vw;
    }
}

.box {
    display: inline-block;
}

.pickup {
    display: flex;
    background: linear-gradient(90deg, rgba(16, 186, 178, 0.66) 0%, rgba(16, 186, 178, 0.09) 100%);
    border-radius: 5px 2px;
    width: 25vw;
    padding: 0.5vw;
    position: relative;
    margin-left: -5px;
    text-transform: capitalize;

    img {
        height: 22px;
        margin: auto 2vw;
    }
}

.mod {
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.amount {
    color: #107c48;
    font-weight: 600;
}

.order-item-payment {
    display: flex;
    margin-left: auto;
    font-weight: 400;
    font-size: 1rem;
    line-height: 18px;
    letter-spacing: 0.015em;
    justify-content: space-between;

    .items {
        color: #888888;
    }

    .payment-status {
        color: var(--ion-color-medium-shade);
    }
}

.btns {
    margin: 0 3vw;
    margin-top: 3vw;
    // display: flex;
    // justify-content: space-between;
   
    #done {
        font-size: 24px;
        margin-right: 16px;
        color: var(--ion-color-secondary-contrast);
    }

}

.orderBtns {
    display: flex;
    justify-content: space-between;
}

.reject {

    min-width: 45%;
    --color: var(--ion-color-primary);
    --border-color: var(--ion-color-primary);
    --border-width: 1px;
    --border-style: solid;
    text-transform: none;
    font-weight: 600;
    height: 36px;

    .end-icon {
        width: 16px;
        height: 14px;
        padding-left: 5px;
    }
}

.deliv {
    width: 100%;
    height: 35px;
    text-transform: none;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 20px 47px;
    text-align: center;
}

// ion-button{
//     position: a;
//     width: 154px;
// height: 48px;
// left: 190px;
// top: 574px;
// }
// --color: var(--ion-color-primary);
// --border-color: var(--ion-color-primary);
// --border-width: 1px;
// --border-style: solid;
// text-transform: none;

// .end-icon{
//     width: 16px;
//     height: 14px;
//     padding-left: 5px;
// }
// }




// .end-icon{
//     width: 16px;
//     height: 14px;
//     padding-left: 5px;
// }


.not-allowed {
    cursor: not-allowed;
    pointer-events: all;
}

ion-select-option {
    .accept-full {
        width: 100%;
        height: 48px;
        --color: white;
        --background: var(--ion-color-primary);
        text-transform: capitalize;
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;

        &__pending {
            --background: gray;
        }
    }
}

.orderSummary {
    margin: 0 8px;
}

.heading {
    color: #4f5052;
    font-size: 1rem;
    font-weight: 600;
}

.container {
    border-bottom: 1px solid rgba(153, 153, 153, 0.33);
    padding-bottom: 3vw;
}

.completeOrderInfo {
    display: flex;
    margin-top: 3vw;
    color: #4f5052;
    font-size: 1rem;

    .product-img {
        width: 36px;
        height: 36px;
        filter: drop-shadow(1px 1px 1px rgba(51, 51, 51, 0.25));
        border-radius: 5px;
    }

    .weight {
        color: #666666;
    }
}

.quantity {
    margin: 0 5vw;
}

.totalPrice {
    position: absolute;
    right: 5vw;
}

.status {
    font-variant-caps: all-petite-caps;
}

.sum {
    font-size: 1rem;
}

.bill {
    margin: 2vw 3vw;
    display: flex;
    justify-content: space-between;
    color: #4f5052;
    font-size: 5.5vw;
}

.amounts {
    margin: 2vw 3vw;
    display: flex;
    justify-content: space-between;
    color: #4f5052;
    font-size: 1.2rem;
}

.instructions-view {
    font-family: 'Poppins';
    font-style: normal;
    margin: 16px;
    padding: 10px;
    align-items: center;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #333333;
    border-radius: 10px;
    background: linear-gradient(0deg, rgba(16, 186, 178, 0.06), rgba(16, 186, 178, 0.06)), #FFFFFF;

    .instruct-title {
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        color: #333333;
    }

    .instruct-detials {
        font-weight: 400;
        font-size: 12px;
        line-height: 24px;
    }
}

.picker-view {
    margin-bottom: 10px;

    .picker-img {
        height: 34px;
        width: 34px;
        --border-radius: 4px;
    }

    ion-label {
        padding-left: 10px;

        .picker-title {
            font-size: 12px;
            font-weight: 400;
            color: #464646;
        }

        .picker-name {
            font-size: 14px;
            font-weight: 600;
            color: #222222;
        }
    }

    .callIcon {
        width: 25px;
        height: 28px;
    }

}

.time-slot {
    padding-left: 10px;

    .slot-title {
        font-weight: 600;
        font-size: 15px;
        line-height: 22px;
        color: #464646;
    }

    .slot-time {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        padding-left: 8px;
        color: var(--ion-color-primary);
    }
}

.address {
    font-size: 1rem;
    max-width: 40vw;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    // margin-bottom: 8px;
}

.bill {
    font-weight: 700;
    font-size: 1.2rem;
}

.okayButton {
    height: 36px;
    width: 100%;
    text-transform: none;
    font-weight: 600;
    font-size: 19px;
    text-align: center;
    margin-left: 10px;
}

 

// #accept-left {
//     height: 40px;
//     margin-right: 3px;
//     margin-left: 56px;
//     text-transform: capitalize;
//     border-top-left-radius: 14px;
// }

.vl {
    border-left: 1px solid white;
}

#icon {
    border: 1px solid var(--ion-color-primary);
    width: 20%;
    height: 36px;
    border-radius: 0 50px 50px 0;
    --inner-padding-end: 0;
    --padding-start: 0px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    ion-icon {
        // margin-bottom: 13px;
        font-size: 18px !important;
        // margin-left: 7px;
        margin: auto !important;
    }
}

//  .ion-text-center{
//     width: 28%;
//  }

ion-select {
    --placeholder-opacity: 1 !important;
    color: var(--ion-color-primary-contrast);
    width: 100%;
    justify-content: center;
}

// ion-select .select-interface-option{
// text-align: center;
// }
ion-select::part(placeholder),
ion-select::part(text) {
    font-weight: 600;
    margin-bottom: 13px;
}

ion-select::part(icon) {
    display: none !important;
}

ion-select::part(text) {
    color: var(--ion-color-primary-contrast);
    margin-bottom: 13px;

}

ion-item {
    --background: transparent;
}

// #left-btn {
//     // border: 1px solid var(--ion-color-primary);
//     // border-radius: 50px 0 0 50px;
//     height: 36px;
//     margin-left: 12px;
//     width: 90%;
//     min-width: 40%;


// }

.card {
    display: flex;
}

// New Design CSS
ion-content.new {
    #ion-segments {
        background: #fff;
        border-radius: 10px;
    }

    ion-segment {
       
        justify-content: flex-start;

        ion-segment-button {
            text-transform: capitalize;
            font-weight: 400;
            font-size: 14px;
            color: var(--ion-color-dark);
            max-width: max-content;
        }
    }

    .top {
        border-top: 1px solid var(--ion-color-light-shade);
        padding: 0px;
    }

    .today {
        font-weight: 400;
        font-size: 14px;
        color: var(--ion-color-dark);
        padding: 0 8px;
        margin: 8px 0;
    }

    ion-card {
        box-shadow: none;
        margin: 0;
        padding: 0 8px;
        border-radius: 0;

        &.active {
            background: rgba(16, 186, 178, 0.09);
        }

        .orderId {
            color: var(--ion-color-primary-tint);
            font-weight: 600;
            font-size: 13px;
            margin-bottom: 0;
        }

        .phonenumber {
            font-weight: 600;
            font-size: 14px;
            color: var(--ion-color-dark-tint);
        }

        .name {
            font-weight: 400;
            font-size: 12px;
            color: var(--ion-color-medium-shade);
        }

        .profile-pic {
            height: 95px;
            width: 75px;
            --border-radius: 10px;
        }

        .deliverystatus {

            width: 115px;
            padding: 2px;

            background: linear-gradient(90deg, rgba(16, 186, 178, 0.66) 0%, rgba(16, 186, 178, 0.09) 100%);
            border-radius: 2px 20px 20px 2px;

            .imgicons {
                width: 20px;
                height: 15.95px;
                margin-top: -4px;
                margin-left: 5px;
                margin-right: 5px;
            }

            .status-text {
                font-weight: 400;
                font-size: 14px;
                color: var(--ion-color-dark-tint);

            }
        }

        .amount {
            position: absolute;
            left: 76%;
            top: 75px;
            font-size: 1rem;
            font-weight: 600;
            color: var(--ion-color-dark);
        }

    }

    .left {
        border-right: 1px solid var(--ion-color-light-shade);
        padding: 0px;
        height: 75vh;
        overflow-y: overlay;
    }

    .card {
        box-shadow: none;
        border: 0;

        .deliverystatus2 {
            position: absolute;
            width: 115px;
            left: 70%;
            background: linear-gradient(90deg, rgba(16, 186, 178, 0.66) 0%, rgba(16, 186, 178, 0.09) 100%);
            border-radius: 2px 20px 20px 2px;


            .imgicons {
                width: 20px;
                height: 15.95px;
                margin-top: -4px;
                margin-left: 5px;
                margin-right: 5px;
            }

            .status-text {
                font-weight: 400;
                font-size: 14px;
                color: var(--ion-color-dark-tint);

            }
        }

        .itemPrice {
            margin-top: 29px;
        }

        .pending {
            position: absolute;
            left: 64%;
            top: 75%;
            font-weight: 400;
            font-size: 12px;

        }
    }

    .details {
        .button {
            display: flex;
            justify-content: space-between;

           ion-button{
            margin: 0px 16px 16px 0px;
            height: 48px;
            width: 15vw;
           }
        }

        .summery {
            font-weight: 600;
            font-size: 16px;
            color: var(--ion-color-dark);
        }

        ion-item {
            margin: 0;

            .itemImg {
                width: 36px;
                height: 36px;
                --border-radius: 5px;

                img {
                    object-fit: contain;
                }
            }

            ion-label {
                .itemName {
                    font-weight: 400;
                    font-size: 16px;
                    color: var(--black);
                    margin-bottom: 0;

                    // .chip {
                        // float: right;
                        // --background: var(--ion-color-success-tint);
                        // --color: var(--black);
                        // font-weight: 400;
                        // font-size: 1rem;
                        // height: 18px;
                        // padding: 0 10px;
                        

                    // }
                }

                .qty {
                    font-weight: 300;
                    font-size: 12px;
                    color: var(--grey-1);
                    margin-bottom: 0;
                }

                .price {
                    font-weight: 500;
                    font-size: 12px;
                    color: var(--ion-color-dark-tint);
                    margin-top: 17px;
                }
            }
        }

        .summaryBox {
            border-bottom: 1px solid gray;
           

        }

        .total {
            font-weight: 500;
            font-size: 16px;
            color: var(--ion-color-dark-tint);
            margin: 0;
        }

    }
}


/* custom scrollbar */
.left::-webkit-scrollbar {
    width: 16px;
}

.left::-webkit-scrollbar-track {
    background-color: transparent;
}

.left::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

.left::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

ion-item {
    --ion-item-background: var(--ion-color-primary);
}
.btn{
    width: -webkit-fill-available;
}