<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" (click)="action('close')" defaultHref="">
      </ion-back-button>
    </ion-buttons>
    <ion-img (click)="refferalclose()" class="nav-logo" src="assets/icon/Sarvmlogo.png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar class="mt">
    <ion-img class="icon" src="{{inviteType.image}}"></ion-img>
  </ion-toolbar>
  <h4 class="inviteType">{{inviteType.name | titlecase}} </h4>

  <div class="inputBox">
    <ion-input type="tel" maxlength="10" placeholder="Invitee's Mobile Number" [(ngModel)]="mobileNumber"
      (ionChange)="validatePhone($event)" pattern="^[0-9]{6}"></ion-input>
  </div>

  <ion-button shape="round" class="btn2" [ngClass]="!invalidPhone?'btn2':'btn2Disabled'" (click)="
      mobileNumber?.length == 10
        ? showConfirm()
        : referralService.showToastNumber()
    ">
    {{ "continue" | language: "CONTINUE" }}</ion-button>

</ion-content>