.CrossIcon {
    height: 2vw;
    width: 2vw;
    margin-bottom: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 10vw;
    border-radius: 50%;
    color: grey;
    background: var(--ion-color-primary-contrast);
}

.continue {
    margin: auto;
    display: block;
}

.content {
    background: var(--ion-color-primary-contrast);
    border-radius: 20px 20px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 200px;
}

.header {
    color: var(--ion-color-light-contrast);
    font-size: 6vw;
    font-weight: 600;
    margin: 0 auto;
}

.modal {
    position: absolute;
    bottom: 0;
    width: -webkit-fill-available;
}

ion-row {
    margin: 0 3vw;
}

.active {
    justify-content: center;
}