<ion-header>
  <ion-toolbar>
   <ion-buttons slot="start" class="ion-no-margin" (click)="action('close')">
    <ion-button>
      <ion-icon name="chevron-back-outline" color="primary"></ion-icon>
    </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" (click)="openMyRewardsModal()">
      <ion-button>
        <ion-icon class="gift" name="gift-outline"></ion-icon>
        <ion-label>MyRewards</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-progress-bar color="primary" type="indeterminate" mode="ios" *ngIf="commonservice.isLoading"></ion-progress-bar>
</ion-header>
<ion-content>
  <p class="ion-text-center">QR Code</p>
  <div class="ion-text-center">
    <qrcode [qrdata]="profileUrl"
      [imageSrc]="'./assets/images/homeImg/logoSarvm.svg'"
      [allowEmptyString]="true"
      [width]="170" 
      [title]="'A custom title attribute'" 
      [errorCorrectionLevel]="'H'">
    </qrcode>
  </div>
  
  <!-- <div class="modal">
    <p class="ion-text-center">QR Code</p>
      <div class="ion-padding ion-text-center" slot="content">
        <qrcode [qrdata]="profileUrl"
          [imageSrc]="'./assets/images/homeImg/logoSarvm.svg'"
          [allowEmptyString]="true"
          [width]="256" 
          [title]="'A custom title attribute'" 
          [errorCorrectionLevel]="'H'">
        </qrcode>
      </div>
  </div> -->
  <ion-footer>
    <div class="content">
      <div class="header">
        <p>Invite Via</p>
      </div>
      <div class="options">
        <div class="ion-margin" (click)="inviteVia(0)">
          <img src="/assets/InvitePageImg/whatsapp.svg" alt="">
        </div>
        <div class="ion-margin" (click)="inviteVia(1)">
          <img src="/assets/InvitePageImg/sms.svg" alt="">
        </div>
      </div>
    </div>
  </ion-footer>
</ion-content>