
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">DOB</th>
      <th scope="col">Area</th>
      <th scope="col">Landmark</th>
      <th scope="col">ShopNumber</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>{{alldata.name}}</td>
      <td>{{alldata.dob}}</td>
      <td>{{alldata.area}}</td>
      <td>{{alldata.landmark}}</td>
      <td>{{alldata.shopNumber}}</td>
    </tr>
  </tbody>
</table>
