ion-content {
    --background: transparent;
}
.map {
    height: 332px;
    // background-color: grey;
    .gps {
        position: absolute;
        top: 226px;
        right: 20px;
        display: flex;
        height: 50px;
        z-index: 10000;
        width: 50px;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        background: #ffffff;
        box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.1), 0px 1px 10px 1px rgba(0, 0, 0, 0.1);
    }
}
form{
    background: var(--ion-color-primary-contrast);
}
.address {
    margin-top: 1.5vh;
    margin-left: 4vw;
}
.searchResults{
    position: absolute;
    z-index: 9999;
    border-radius: 20px;
    overflow: auto;
    max-height: 200px;
    box-shadow: 0px 3px 0px rgb(177 177 177 / 59%);
}
ion-list{
    padding-bottom:0px;
}
ion-searchbar{
    height: 44px;
}

ion-back-button{
    position: relative;
  left: 5vw;
  font-size: 4vw;
  color: var(--ion-color-dark-tint);
}
.areaDetail {
    display: flex;
    align-items: center;
   
    img {
        height: 32px;
        width: 32px;
    }
    .area {
        margin: auto;
        margin-left: 0.5em !important;
        height: auto;
        font-size: 14px;
        font-weight: 600;
        width: auto;
        overflow: auto;
    }
}

.instruction {
    font-size: 14px;
    color: #7d7c83;
    font-weight: 400;
    margin-top: 22px;
}

// ion-input {
//     border: none;
//     background: #f6f6f6;
//     border-radius: 8px;
//     color: rgba(44, 51, 72, 0.6);
//     font-size: 12px;

//     width: 43vw;
//     height: 50px;
//     --padding-start: 10px;
// }

.businessName {
    width: 100%;
}
.businessDetail{
    margin-top: 10px;
    ion-select{
        --padding-start: 6px;
        text-align: center;
        background: #f6f6f6;
        border-radius: 8px;
    }
}
.inputs {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.clear{
    clear: both;
    height: 60px;
}


.error-message {
    color: red;
    font-size: 12px;
}

#star {
    color: red;
    margin-left: 3px;

}

.placeholder {
    font-size: 12px;
    letter-spacing: 0.02em;
}
ion-item{
    margin-bottom: 5vh;
    ion-input {
           
            --color: var(--ion-color-medium-shade);
            font-size: 12px;
            --padding-start: 10px;
        }
}
.location {
    border: 2px solid #10bab2;
    justify-content: space-between;
    display: flex;
    align-items: center;
    top: -48px;
    left: 10vw;
    position: absolute;
    background: #ffffff;
    padding: 7px;
    border-radius: 10px;
}
