<!-- <div class="main-content p-4">
  <div class="card custom-card">
    <div class="card-body">
      <h5 class="mb-4">Employee Details</h5>
      <div class="table-responsive ">
        <app-table [headers]="employeeList" [tableData]="empData[page]" [dataList]="dataList" [type]="'employee'"></app-table>
        <app-pagination [totalItems]="100" [pageNo]="page" [itemsPerPage]="itemsPerPage" (pageChange)="changePage($event)" ></app-pagination>
      </div>
    </div>
  </div>
</div> -->


<div class="main-content p-4">
  <div class="card custom-card">
    <div class="card-body">
      <h5 class="mb-4">Employee List</h5>
      <div class="table-responsive ">
        <table class="table table-bordered mb-4" datatable [dtOptions]="dtoptions" [dtTrigger]="dtTrigger">
          <thead>
            <tr>
              <th *ngFor="let item of employeeList" class="text-primary">{{item.name}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of empData; let i=index;" >
              <!-- <td >{{i}}</td> -->
              <td>{{item?.employeeId}}</td>
              <td>{{item.dateofJoining}}</td>
              <td>{{item.fullName}}</td>
              <td>{{item.managerId}}</td>
              <td>{{item.mobileNumber}}</td>
              <td> <span class="badge bg-success">{{item.status}}</span></td>
              <td>{{item.role}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
