*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#back{
    color: #0D938D;
    font-size: 6vw;
    margin: 6vw 0vw 2vw 6vw;
  }

.content{
  width: 90vw;
  margin: 0 10vw;
}

.profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 2vw;
  img{
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
  }
  #emplyId{
    color: #222222;
    font-size: 5vw;
    margin: 2vw 0 1.5vw 0;
  }
  #name{
    color: rgba(34, 34, 34, 0.8);
    font-size: 6vw;
    font-weight: 600;
    margin: 1.5vw 0;
  }
  .btn{
    display: flex;
    margin: 1.5vw 0 2vw 0;
    #activateBtn{
      display: block;
      padding: 3vw 6vw;
      background: #FFFFFF;
      border: 0.8px solid #10BAB2;
      border-radius: 20px;
      color: #10BAB2;
      font-size: 5vw;
      font-weight: 700;
    }
    ion-icon{
      color: red;
      font-size: 6vw;
      margin-left: 3vw;
      padding: 3vw;
      background: #FFFFFF;
      border: 1px solid #FF5353;
      border-radius: 50%;
    }
  }
}

.flex{
  display: flex;
  margin: 2.5vw 0;
}

.p1{
  color: #7D7C83;
  font-size: 4.5vw;
  font-weight: 700;
}

.p2{
  color: #7D7C83;
  font-size: 4.5vw;
  font-weight: 400;
  margin-left: 7vw;
}

.options{
  margin-top: 6vw;
  margin-bottom: 5vw;
}

.optBox{
  display: flex;
  width: 80vw;
  padding: 4vw;
  p{
    font-size: 5vw;
    font-weight: 700;
    color: rgba(34, 34, 34, 0.8);
  }
  ion-icon{
    position: absolute;
    left: 80vw;
    font-size: 5vw;
    margin: auto 0;
  }
  background: #FFFFFF;
  border-left: 4px solid #10BAB2;
  box-shadow: 0px 1px 10px 1px rgba(2, 27, 26, 0.1);
  border-radius: 5px;
  margin-top: 3vw;
}







