<ion-content>
  <ion-icon name="chevron-back-outline" id="back"></ion-icon>
  <div class="content">
    <div class="profile">
      <img src="\assets\images\profilePic.jpg" alt="profile pic">
      <p id="emplyId">Emp ID : SLS-BAN-021</p>
      <p id="name">Swathi Balaji</p>
      <div class="btn">
        <p id="activateBtn">Activate</p>
        <ion-icon name="trash-outline"></ion-icon>
      </div>
    </div>
    <div class="contactInfo">
      <div class="phone flex">
        <p class="p1">Phone</p>
        <p class="p2">+91 9823465849</p>
      </div>
      <div class="mail flex">
        <p class="p1">Email</p>
        <p class="p2">swathi.balaji@gmail.com</p>
      </div>
      <div class="roles flex">
        <p class="p1">Roles</p>
        <p class="p2">Inventory Manager, Order Manager, Procurement Manager</p>
      </div>
    </div>
    <div class="options">
      <div class="presonal optBox">
        <p>Personal</p>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
      <div class="general optBox">
        <p>General</p>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
      <div class="Emergency optBox">
        <p>Emergency Contact</p>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
    </div>
  </div>
</ion-content>
