* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ion-back-button{
  position: relative;
  left: 4vw;
  font-size: 4vw;
  color: var(--ion-color-dark-tint);
}
.header {
  display: flex;
  ion-icon {
    margin: auto 3vw;
    color: #10bab2;
  }
}
ion-toolbar {
  
  ion-title{
    position: absolute;
    top: 0;
    left: 40px;
    width: 100%;
    height: 100%;
    
  }
}
// ion-toolbar {
//   display: flex;
//   ion-title {
//       font-weight: bold;
//       font-size: 18px;
//       justify-content: center;
//       place-content: center;
//   }
//   ion-icon {
//       margin: auto 0;
//       font-size: 5vw;
//       padding: 0 0 0 3vw;
//       color: #08908c;
//   }
// }

ion-segment {
  margin-bottom: 5vw;
}

ion-segment-button {
  --color: #7d7c83;
  --color-checked: #10bab2;

  ion-label{
    text-transform: capitalize;
  }
}

.documentInput {
  margin: 3vw 5vw;
  margin-bottom: 7vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f6f6f6;
  border: 1px dashed #2c3348;
  border-radius: 5px;
  padding: 3vw 1vw;
  text-align: center;
  line-height: 22px;
  p {
    margin: 2vw 0;
    color: rgba(44, 51, 72, 0.6);
  }
  label {
    margin: 2vw 0;
    line-height: 22px;
    u {
      color: rgba(44, 51, 72, 0.6);
    }
  }
}

.document {
  display: none;
}
ion-col{
  position: relative;
  .input {
    border: 1px solid rgba(44, 51, 72, 0.6);
    border-radius: 30px;
    width: 90vw;
    height: 48px;
    margin: 5vw 5vw;
    --padding-start: 5px;
   
  }
  
  .label {
    z-index: 5;
    background: white;
    padding: 0 2vw;
    position: absolute;
    bottom: 70% !important;
    left: 10% !important;
    font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: var(--ion-color-dark-tint);
  }
}


// .input-container{
//   width: 90vw;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }

// ion-col{
//   --ion-grid-column-padding: 0;
// }
ion-col{
  position: relative;

  .inputDiff {
    border: 1px solid rgba(44, 51, 72, 0.6);
    border-radius: 30px;
    width: 40vw;
    height: 48px;
    margin: 5vw 0;
    --padding-start: 5px;
    margin-left: 5vw;
    
  }

  .labelDiff {
    z-index: 5;
    background: white;
    padding: 0 2vw;
    position: absolute;
    bottom: 67% !important;
    left: 18% !important;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: var(--ion-color-dark-tint);
  }
}




.btns {
  margin: 1vw 5vw;
  display: flex;
  justify-content: center;
  align-items: center;

  .btn {
    border-radius: 30px;
    width: 44vw;
    height: 48px;
    margin-bottom: 20px;
  }
}

.skip {
  border: 1px solid #10bab2;
  background: white;
  color: #10bab2;
  font-size: 14px;
  line-height: 20px;
 
  text-transform: capitalize;

}

.save {
  background: #10bab2;
  color: var(--ion-color-medium-contrast);
  font-size: 14px;
  line-height: 20px;
 
  text-transform: capitalize;
 
}
.removeBtn {
  text-align: center;
  position: absolute;
}
.doc-img {
  max-height: 20vh;
  margin: 2vh 0px;
}

.upper{
  text-transform: uppercase;
}

// #star {
//   color: red;
//   margin-left: 3px;

// }
#dob {
  position: relative;
  ion-icon{
    position: fixed;
    right: 10%;
    width: 20px;
    height: 22px;
  }
}
