
<div class="container">
<ion-content style="--background: #fcfcfc;">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
      <ion-title><span>
          Order History</span></ion-title>
    </ion-toolbar>
    <div class="complete-content">
      <div class="active-orders">
        <div class="cardconatiner" *ngFor="let data of orders">
          <div class="date-time" display="flex" justify-content="space-between">
            <p class="date" slot="start" display="inline-block" margin-right>
              {{data.delivery.deliveryDate}}
            </p>
          </div>
          <ion-card class="ordercard">
            <div class="container">
              <img class="farm-img" [src]="data.shop.image"
                onerror=" this.onerror = null ;this.src ='https://media.istockphoto.com/vectors/storefront-flat-design-ecommerce-icon-vector-id912819604?k=20&m=912819604&s=612x612&w=0&h=tUJrqTFeqBRNSWCFyTJLU1ekulp5PfnF6w5nngqHCV4='"
                alt="order" />
              <div class="middletext">
                <p class="shopName">{{data.shop.name}}
                  <span><a href="tel:{{data.seller.phone}}"><img class="call" src="/assets/images/phone-call.png"
                        alt="call-us" /></a></span>
                </p>
                <p class="location">
                  <ion-icon class="icon" src="/assets/img/ic_location.svg"></ion-icon>
                  <span class="value">{{data.shop.address}}</span>
                </p>
                <div class="delivering-status">
                  <ion-icon *ngIf="data.delivery.mode == 'DELIVERY'" src="/assets/img/delhivery.svg"></ion-icon>
                  <ion-icon *ngIf="data.delivery.mode != 'DELIVERY'" src="/assets/img/pickup.svg"></ion-icon>
                  <span>{{data.delivery.mode}}</span>
                </div>
                <!-- <ion-button size="small" mode="md" fill="outline" shape="round" href="tel:{{data.seller.phone}}"  >
                  <ion-icon slot="start" name="call-outline" href="tel:{{data.seller.phone}}"></ion-icon>{{data.seller.phone}}
                </ion-button> -->
              </div>
            </div>
            <div class="buttons">
              <ion-button [routerLink]="['/order-details',data.orderID]" class="detail" fill="outline" color="primary"
                shape="round">
                <ion-icon src="/assets/details.svg"></ion-icon>
                Details
              </ion-button>
            </div>
          </ion-card>
        </div>
      </div>
    </div>
  </ion-content>
</div>
