

<div class="container content">
  <div class="row"> <div class="col-12">

    <form [formGroup]="data" (ngSubmit)="onCreateCategory(data.value)">

      <div style="text-align:center" class="form-group">
        <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
        <div><img [src]="url" class="rounded-circle" *ngIf="url"></div>
        <p>
          <input type="file" #fileInput id="image" name="image"  class="form-control" formControlName="image" (change)="onFileChanged($event)">
        </p>


              <small  *ngIf= "data.get('image').invalid && data.get('image').touched" style="color: red;">*This field is required</small>

      </div>

     <div class="row" class="form-group">
      <div class="col-25">
        <label for="fname">Category Name:</label>
      </div>
      <div class="col-75">
        <input type="text"  id="name" name="name"  class="form-control" formControlName="name" placeholder="Category name..">
        <div *ngIf= "data.get('name').invalid && data.get('name').touched">
          <small style="color: red;">*This field is required</small>
      </div>
      </div>
    </div>

         <!-- Region  -->
    <div class="row" class="form-group">
      <div class="col-25">
        <label for="fname">Region:</label>
      </div>
      <div class="col-75">
        <input type="text"  id="region" name="region"  class="form-control" formControlName="region" placeholder="Region">
        <div *ngIf= "data.get('region').invalid && data.get('region').touched">
          <small style="color: red;">*This field is required</small>
      </div>
      </div>
    </div>
       <!-- HSN  -->
       <div class="row" class="form-group">
        <div class="col-25">
          <label for="fname">HSN:</label>
        </div>
        <div class="col-75">
          <input type="text"  id="hsn" name="hsn"  class="form-control" formControlName="hsn" placeholder="hsn">
          <div *ngIf= "data.get('hsn').invalid && data.get('hsn').touched">
            <small style="color: red;">*This field is required</small>
        </div>
        </div>
      </div>
      <!-- Description -->
    <div class="row" class="form-group">
      <div class="col-25">
        <label for="subject">Description:</label>
      </div>
      <div class="col-75">
        <textarea id="description"  name="description"  class="form-control" formControlName="description"  placeholder="Write something.." style="height:200px"></textarea>
        <div *ngIf= "data.get('description').invalid && data.get('description').touched">
          <small style="color: red;">*This field is required</small>
      </div>
      </div>
    </div>
         <!-- Is Taxable..?  -->
    <div class="row" class="form-group">
      <div class="col-25">
        <label for="fname">Is Taxable:</label>
      </div>
      <div class="col-75">
        <input type="radio"  value="TAXABLE" formControlName="tax_status" checked>Yes
        <input type="radio"  value="NON_TAXABLE" formControlName="tax_status">No
      </div>
    </div>
<!--
    <div class="row" class="form-group">
            <div class="col-25">
              <label for="fname">Category:</label>
            </div>
            Selected books: {{values}}
            <div class="col-75">
              <ngx-treeview [config]="config" [items]="items" (filterChange)="onFilterChange($event)"
              (selectedChange)="values = $event">
            </ngx-treeview>
              <input type="text"  id="category" name="category"  class="form-control" formControlName="category">
              <div >
                <div class="alert alert-danger" >
                    This field is required  
                </div>
            </div>
            </div>
           
          </div> -->

    <div *ngIf="(data.get('parent_id').value)">
      <div class="row" class="form-group">
        <div class="col-25">
          <label for="fname">Parent ID:</label>
        </div>
        <div style="" class="col-75">
          <select (click)="getValueParentId($event)" formControlName="parent_id">
            <option *ngFor="let option of parentList">{{ option.name }}-{{option.catalog_id}}d<i class="fa fa-angle-right" aria-hidden="true"></i></option>
            <i class="fas-solid fas-angle-right"></i>

          </select>

        </div>

      </div>
    </div>



    <div class="container pt-3">
      <div class="row">
        <div class="col-md-3">

          <div class="form-check"
          *ngFor="let item of catalog; let i = index;"
          (click)="getId(item.name, i)"
          >
            <input type="checkbox" class="form-check-input"
            [id]="item.id"
            [name]="item.name"
            [value]="item.key">
            <label class="form-check-label" for="check1">{{item.name}} <i  *ngIf="visibleLevel1!=i" id="right{{i}}" class="fa fa-angle-right"></i><i id="down{{i}}"  *ngIf="visibleLevel1===i" class="fa fa-angle-down"></i></label>
          </div>
        </div>


        <div class="col-md-3">

          <div class="form-check" *ngFor="let item of categories; let i = index;"
          (click)="getsubId(item.name,i)"
          >
            <input type="checkbox" class="form-check-input"
            [id]="item.id"
            [name]="item.name"
            [value]="item.key">
            <label class="form-check-label" for="check1">{{item.name}} <i  *ngIf="visibleLevel2!=i" id="right{{i}}" class="fa fa-angle-right"></i><i id="down{{i}}"  *ngIf="visibleLevel2===i" class="fa fa-angle-down"></i></label>
          </div>


        </div>


        <div class="col-md-3">

          <div class="form-check" *ngFor="let item of subCatagoriers; let i = index;"
          (click)="getproduct(item,i)"
          >
            <input type="checkbox" class="form-check-input"
            [id]="item.id"
            [name]="item.name"
            [value]="item.key">
            <label class="form-check-label" for="check1">{{item.name}} <i  *ngIf="visibleLevel3!=i" id="right{{i}}" class="fa fa-angle-right"></i><i id="down{{i}}"  *ngIf="visibleLevel3===i" class="fa fa-angle-down"></i></label>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-check" *ngFor="let item of product; let i = index;"
          >
            <input type="checkbox" class="form-check-input"
            [id]="item.id"
            [name]="item.name"
            [value]="item.key">
            <label class="form-check-label" for="check1">{{item.name}}</label>
          </div>


        </div>


      </div>
      </div>





    <div class="row" class="form-group">
      <button *ngIf="!toggleButton" class="submitbutton" type="submit">Submit</button>
      <button *ngIf="toggleButton" class="editButton" (click)="updateCategoryData(this.catalog_id)" type="button">Update</button>
    </div>

    </form>
  </div>
</div></div>










